[2020-05-22 19:54] a-r-j opened #2 "update readme"

[2020-06-09 09:09] a-r-j opened #5 "Reformat docstrings to google format for sphinx compatibility"

[2020-06-09 09:18] #2 closed

[2020-06-09 09:21] a-r-j opened #7 "Atom graph to NX, PyG"

[2020-07-03 15:10] a-r-j opened #8 "[Todo] Docker install"

[2020-07-16 09:49] a-r-j opened #11 "Structure-informed dataset splitting"
Create good train/val/test sets based on SCOP/CATH classifications. Sequence-based approaches (e.g. identity thresholding or BLAST) are bad practice and should not be encouraged.

[2020-07-17 12:54] #5 closed

[2020-07-25 18:48] a-r-j opened #12 "Extended featurisation options"
- [ ] ProtVec Embeddings

- [ ] High Scoring Pairs (HSP)

- [ ] Disorder measurement (ANCHOR?)

- [ ] Hydropathy index

- [ ] Parse PSSMs

- [ ] Relative Amino Acid Propensity (RAA)

**Maybe useful:**

* https://iupred2a.elte.hu/

* DisCons: https://bmcbioinformatics.biomedcentral.com/articles/10.1186/s12859-015-0592-2

* https://github.com/kyu999/biovec

* ConSurf: https://consurf.tau.ac.il/index

[2020-07-25 18:49] a-r-j opened #13 "Dataloaders for example datasets"

[2020-08-30 20:18] lerachel opened #14 "Please fix construct_graph.py arguments"
Hi there,
Thank you for the very cool and useful package! I think on line 328 in construct_graph.py, you forgot to include `chain_selectio`n in your `dssp = self._get_protein_features()` argument.
It should be:
`dssp = self._get_protein_features(file_path=file_path, pdb_code=None, chain_selection=chain_selection)`

[2020-08-30 20:32] a-r-j commented on #14
Thanks for spotting this @lerachel ! You are, of course, correct.This has been fixed now.

[2020-08-30 20:32] #14 closed

[2020-08-30 20:36] a-r-j opened #15 "Visualisation of Protein Graphs"
- [x] 3d Interactive Viewer (using coords) - plotly
- [x] 3d static plot (using coords) - Nx & Matplotlib
- [x] 2d projection

Colouring options
- [x] Resiude type
- [x] Atom type
- [x] Edge types
- [x] Degree
- [x] Sequence position

Node Size options
- [x] Degree
- [ ] By feature magnitude (single or several?)

Labelling options
- [x]  Residue Name
- [x] Sequence Position
- [x] Identifier

Docum

[2020-08-30 20:38] lerachel opened #16 "Installation"
I tried installing your package on my Mac laptop as well as machine with Linux and cuda. It works on the laptop and I remember not installing everything according to your instructions such as tk=8.5 (it's not available).

On the cuda one, it just simply did not work with the following error [[link](https://imgur.com/xHoH2mz)]. I installed Pytorch and torchvision for cuda 10.1, torch 1.6. Everythin

[2020-08-30 20:52] a-r-j commented on #16
Hi @lerachel Thanks for reaching out and spotting the typo. I will correct this.

As for your error, how did you install the requirements for Torch Geometric? Did you install the correct CUDA build? It looks like torch-sparse is throwing the error.

I think you should try:
`pip install torch-sparse==latest+cu101 -f https://pytorch-geometric.com/whl/torch-1.6.0.html`

as per: https://pytorch-geomet

[2020-08-30 21:16] lerachel commented on #16
I retried just now and had a different error that has to do with DGL. [[image] ](https://imgur.com/undefined)
I didn't have this problem with my laptop DGL's version. So I google about this. Found this person who has the same issue with the response from the DGL's team. [[link] ](https://github.com/dmlc/dgl/issues/2104)

I don't know if the issue is DGL version being incompatible with Graphein or

[2020-08-30 21:20] a-r-j opened #17 "Upgrade compatibility to DGL 0.5.0+"
Currently, Graphein is built with DGL 0.4.3

This throws an error:

```File "d:\desktop2.0\prot\graphein\graphein\construct_graphs.py", line 23, in <module> from dgllife.utils import mol_to_bigraph, mol_to_complete_graph, mol_to_nearest_neighbor_graph File "D:\Anaconda\envs\myenv\lib\site-packages\dgllife\__init__.py", line 9, in <module> from . import model File "D:\Anaconda\envs\myenv\lib\site-p

[2020-08-30 21:23] a-r-j commented on #16
It is likely that that Graphein is incompatible with DGL 0.5.0+. If you could use DGL 0.4.3 for the time being, I will work on upgrading graphein to be compatible with DGL 0.5.0+.

Out of curiosity, which version are you using on your laptop?

Also, I apologise for the cumbersome installation procedure. If you have some ideas as how it can be simplified, I'd be very happy (and grateful!) to hear t

[2020-08-30 21:37] lerachel commented on #16
Unfortunately, I don't have admin access to use the instructions provided by DGL for installing from source (requires sudo command).

I installed DGL on my laptop around mid Summer. [DGL release list ](https://github.com/dmlc/dgl/releases) shows their new v0.5 was out 9 days ago while the DGL 0.4.3 was released in April. So my laptop's version is definitely 0.4.3.

Yeah I do have some more suggest

[2020-08-30 22:34] a-r-j commented on #16
I'm very sorry to hear that @lerachel . I tried to explain the procedure as best I could but I acknowledge the documentation is insufficient and the process convoluted at present. Thanks for perservering - I hope it does prove useful to you. Always happy to help on any issues downstream!

[2020-08-31 08:01] mufeili commented on #17
I'm working on it. I think there might be some other compatibility issues as well and let me try to make a PR for graphein.

[2020-08-31 18:51] a-r-j commented on #17
Thanks @mufeili that would be great!

[2020-09-13 16:48] ericmjl opened #19 "Graphein Design Doc"
Hey @a-r-j, just pinging back here as promised yesterday with what probably could be considered a design doc for Graphein. I'm excited about this! I also know that my memory is gradually degrading as I get older, so please correct me if I'm wrong anywhere, and don't hesitate to directly edit my post.

------

## Authors

- Arian Jamasb
- Eric J. Ma

## Introduction

Graphein is an awesome idea: ba

[2020-09-14 16:16] a-r-j commented on #19
Hi Eric, thanks for writing this up. It's super comprehensive! You definitely took better notes than I did.

I'm going to start refactorising the protein graph component this week into the functional paradigm outlined here. I don't think it'll be too taxing. I think we can continue on the `dev` branch. I'll make a PR to add the basic plotting functionality that exists there to the extant version o

[2020-09-18 19:40] ericmjl commented on #19
@a-r-j I made a call to stick those three helper functions inside NetworkX - I think this might help simplify Graphein a bit more, so we can have laser-like focus on functions that take a node and return a pandas Series of amino acid scales. Recently developed some code to make that happen, I'll share it here on a GitHub gist shortly.

[2020-09-20 23:22] lerachel opened #21 "Contacts"
Hi Arian,

I'm just wondering if there's a way to create protein graph from` dgl_graph_from_pdb_code()` without needing the contact file generated from getContacts?

I have tried multiple ways to install getContacts and run it. However, I couldn't install vmd-python and run its module. vmd-python's Conda installation was successfully but I kept having "`module name "vmd" not found`" problem. And i

[2020-09-20 23:49] a-r-j commented on #21
Hi Rachel,

`dgl_graph_from_pdb_code()` has an argument `edge_construction`, which takes a list {‘contacts’, ‘distance’, ‘custom’}. The default is ['contacts']. If you change this to ['distance'] you can make graphs based on distance cutoffs or K NN clustering of distances (specified using the `k_nn` arg). There is also an argument `custom_edges` that takes a pandas DF of edges if you wish to comp

[2020-09-28 22:43] jasonshi10 opened #22 "ImportError on Pytorch3d"
Hi Arian,

I followed the installation instructions on README and when I try to import the package ```from pytorch3d.io import load_obj, save_obj```I ran into the following error:

[code]

I'm using torch 1.6.0 and installed on Mac laptop. Here's what I installed for torch geometric.

[code]

Would appreciate if you can point me to the right direction. Thanks!

[2020-09-29 00:09] a-r-j commented on #22
Hi Jason, sorry to hear you’re having trouble. Could you give me some info on which pytorch3d version and build you’ve installed?

Thanks!

[2020-09-29 00:18] a-r-j commented on #22
Hi again,

I realise now I’ve not included in the installation step for PyTorch 3D. Silly of me.

I think an uninstall of PyTorch 3D and a `pip install pytorch3d` should help things along. You can view the relevant docs [here].(https://github.com/facebookresearch/pytorch3d/blob/master/INSTALL.md). I believe if you try to conda install it on mac (which I’m guessing you’re on) it will try to install

[2020-09-29 00:21] jasonshi10 commented on #22
Yes, I'm installing on a Mac (CPU). The pytorch3d version is 0.2.0. I did try to uninstall and re-install pytorch3d and didn't seem to resolve the issue.

[2020-09-29 00:33] a-r-j commented on #22
Hmm 0.2.0 should work fine. It looks like a CUDA issue to me. Could you share the output of `conda list`?

[2020-09-29 00:38] a-r-j commented on #21
Hi Rachel,

Just wondering if you’re getting on okay & if I can close this issue.

[2020-09-29 01:24] jasonshi10 commented on #22
[code]

[2020-09-29 11:42] ericmjl opened #23 "Simplify environment.yml to minimal set of packages required"
# Issue

Currently `environment.yml` and `ubuntu_environment.yml` are duplicates of one another, and could be simplified into a single file that uniquely specifies environment dependencies.

# Proposal

I'd like to propose unifying the two environment spec files into an `environment-dev.yml` file, which only specifies the minimal set of packages necessary for development/hacking on graphein. Deplo

[2020-09-29 13:01] a-r-j commented on #23
The two `environment.yml` files are legacy at the moment. The reason for there being two of them was a result of getting RTD to build the docs properly - some of the packages install different builds depending on platform.

That being said, I do agree with the need for simplification & think it's timely given the difficulties people are experiencing. Happy to move forward on this.

[2020-09-29 13:03] a-r-j commented on #22
Hi Jason,

Hopefully you've seen the response on your PyTorch 3D issue https://github.com/facebookresearch/pytorch3d/issues/377

Copying the response here for reference:

pytorch3d has to be built for a particular version of pytorch. You are getting this error because of a mismatch between the version with which pytorch3d has been built and the version of pytorch (or one of them) you have in your

[2020-09-29 16:48] jasonshi10 commented on #22
Hi Arian,

I used torch 1.5.0 and pytorch3d 0.2.0 and the import error has been resolved. Thank you!

[2020-09-29 16:48] #22 closed

[2020-10-03 14:40] a-r-j commented on #19
@ericmjl I've added the datafile for the Meiler embeddings and a loading function. Something we need to think about is how we handle non-standard/modified amino acids. Those that I'm aware of:

MSE,PTR,TPO,SEP,KCX,LLP,PCA,CSO,CAS,CAF,CSD

Biological data is never as straightforward as we'd like 😅

[2020-10-03 15:21] a-r-j commented on #19
What I've previously is to use the values for the 'parent' amino acid (e.g. using the values for MET for MSE). This is obviously a bit dirty and not entirely valid but I'm sure what we can do short of generating the values for the non-standard AAs. Perhaps we could provide some options for doing that workaround, initialising the featurures with 0s or the mean values.

In any case, we'll need to a

[2020-10-03 15:23] ericmjl commented on #19
:joy: Biology breaks all rules indeed! 😅

I wonder what you think about this: for now, we stick to just the standard amino acids? Imposing this first constraint helps with shipping something useful, which is good for publication purposes too, before expanding out to more edge-y cases.

Are non-standard amino acids common in PDB structures? Just wondering; if they're only a small fraction, then lea

[2020-10-03 15:45] a-r-j commented on #19
I think it's less of a problem for human proteins.

My understanding is that they're more common (but still relatively rare) in bacteria and archaea. I think there are two main sources for them:

1. Genetically encoded (CSE, PYL), sometimes called the 21st and 22nd amino acids which are present in all domains of life iirc. These would be more of a priority.
2. Modification of standard residues by

[2020-10-03 15:50] a-r-j commented on #19
If we're happy to proceed on the basis of ignoring them, I'll add a `valid_protein()` function to do some sanity checks on the structures/sequence before the graph construction

[2020-10-03 16:51] ericmjl commented on #19
I learned something new today! That and D-amino acids too. This is cool. Is there a special representation in PDB files for a D-amino acid? If so, it's worth adding a featurization function called "amino_acid_chirality", perhaps?

I think that'll help, especially in the early stages when the package is a bit more constrained in scope.

[2020-10-04 17:14] a-r-j commented on #19
I had a quick look at the PDB file for `5E5T`. It seems they define the D-amino acids as HETATMS in the header:

[code]

The PDB maintains a [list](http://ligand-expo.rcsb.org/ld-download.html) of chemical entities and their abbreviations so it should be a fairly straightforward lookup. Hopefully, these conventions are standard in practice. We'd probably want to label non-standard residues differe

[2020-10-04 20:47] ericmjl commented on #19
Lemme raise an issue for that point you made above, so it's trackable in the pseudo-todo list that is the Issue tracker.

[2020-10-04 20:47] ericmjl opened #25 "Create dictionary of non-standard amino acids"
I had a quick look at the PDB file for `5E5T`. It seems they define the D-amino acids as HETATMS in the header:

[code]

The PDB maintains a [list](http://ligand-expo.rcsb.org/ld-download.html) of chemical entities and their abbreviations so it should be a fairly straightforward lookup. Hopefully, these conventions are standard in practice. We'd probably want to label non-standard residues differe

[2020-11-22 05:47] Arielbs commented on #22
Hi, I believe I have the same issue, I followed the steps above (macOS as well with no CUDA), torch 1.5.0 and torch3d 0.2.0 (I've also tried 1.6.0 and 0.2.5 with the same result) but I get the same error: RDKit is not installed, which is required for utils related to cheminformatics. Any chance I missing anything?
Thanks

# Name                    Version                   Build  Channel
apbs

[2020-11-22 13:24] a-r-j commented on #22
Hi @Arielbs that looks to be DGL/DGL-LifeSci related rather than PyTorch3d related. I think this thread may be useful: https://github.com/awslabs/dgl-lifesci/issues/107

[2020-11-22 16:36] Arielbs commented on #22
Thank you Arian,
I found that I need explicitly import torch prior fo graphein functionalities for the rdkit to be recognized, it works now.
Ariel

[2020-11-22 16:38] a-r-j commented on #22
Great! Thanks for pointing that out, that's good to know. I hope Graphein proves useful. Please do let me know if you come across any issues or missing functionality that would be useful.

[2020-12-28 15:31] a-r-j commented on #19
Hey, @ericmjl. Happy Holidays!

I'm back on Graphein (mostly) full-time now. I've added some functionality for computing sequence-level embeddings from some pre-trained language models (ESM, BioVec). I plan to add a bunch from other sources (eg DSSP, propy, etc). @cch1999 contributed some edge computing functions so the we have a MVP of the protein graph construction now.

The outstanding minor ta

[2020-12-29 18:43] ericmjl commented on #19
Hello @a-r-j! Great to hear from you again. I remember you headed down to Spain/Portugal, enjoying your time there?

Looking at the list, this is really cool! I have a few suggestions to make the list even more awesome, hope you don't mind!

**Dataframe type hinting:** I'd suggest we use [pandera]. It's got all of the things you're looking for from DataEnforce, plus more.

[pandera]: https://pande

[2020-12-29 20:56] a-r-j commented on #25
I've added some mappings for non-standard amino acids from: https://www.globalphasing.com/buster/manual/maketnt/manual/lib_val/library_validation.html (+ a couple additions)

I'm not confident it's complete, but it should be enough to get us on track to deal with the vast majority of instances. Will be adding some scripts & data to use the resources from the PDB Ligand Expo: https://ligand-expo.rc

[2020-12-30 04:16] a-r-j commented on #19
I'm back in (the other) Cambridge these days. Missing the sunshine but it's not much to complain about compared to a New England winter!

Happy to go with pandera - I'll check it out!

I've added the distance-based edges from your library now. I took the liberty of adding a edge constructors based on K nearest neighbours and Euclidean distance. I added a `long_interaction_threshold` The idea is we

[2020-12-30 16:38] ericmjl opened #28 "Refactor granularity kwarg in `protein.process_dataframe`"
I think you're right about `granularity` - it's doing too much. The idea is to have control over:
1. What the nodes are in a residue graph (e.g. a-Carbon "CA", b-Carbon "CB")
2. Whether to use that atom position or compute residue centroids
3. Whether or not to build a residue-graph as above or an atom-graph

_Originally posted by @a-r-j in https://github.com/a-r-j/graphein/issues/27#issuecomment-

[2020-12-30 23:56] a-r-j opened #32 "RNA Graphs Functionality"
Todos:

- [x] We currently don't support pseudoknots: non-standard dotbracket symbols are converted to .

- [ ] We could implement some checking of the validity of base pairing interactions

_Originally posted by a-r-j in https://github.com/a-r-j/graphein/pull/31#issue-547124277_

[2020-12-30 23:59] a-r-j opened #33 "Sequencing Annotation Functions in Higher-level API"
Again in construct_rna_graph, sequencing the annotation functions might be important for users that write their own metadata annotation functions. E.g. you might want to use some node properties to annotate some of your edges and you might also want to use some edge properties to annotate your nodes. Obviously, this is less of an issue with the lower-level API, but if we don't want to provide comp

[2021-01-01 21:17] a-r-j opened #37 "Port DSSP Features to new API"
This will take a little thought to do elegantly as the features are computed from sequence but assigned to nodes.

[2021-01-04 23:31] a-r-j opened #39 "Gene Regulatory Network Support"
We can prioritise:

* RegNetwork: http://www.regnetworkweb.org/home.jsp
* TRRUST: http://www.grnpedia.org/trrust
* Abasy https://abasy.ccg.unam.mx

These provide .csv files for download. We can parse these into graphs easily.

GRNdb also looks good (http://www.grndb.com) but seems tricky.

Misc Sources:
* TF2DNA: http://www.fiserlab.org/tf2dna_db/index.html
* http://www.oreganno.org/dump/
* Coryne

[2021-01-06 19:52] a-r-j opened #41 "Atom Graph Construction"
Currently, we are not distinguishing bond order. We also do not check for over-connected atoms. Further checks and balances to be implemented from: https://www.daylight.com/meetings/mug01/Sayle/m4xbondage.html

[2021-01-19 09:22] cch1999 commented on #37
Have added main DSSP functions to `dssp.py`. Set up PR #43.

Outstanding tasks are:

- [ ] Decide where and how to make the decision to run the DSSP program.
- [ ] Add pre-computing config to convert strings in the `secondary_structure` attribute to one hot encodings.

[2021-01-25 10:39] UnicornH opened #44 "Install problem"
Dear
I install all package and run the flow code:

from graphein.construct_graphs import ProteinGraph
from vmd import *
pg = ProteinGraph(granularity='CA', insertions=False, keep_hets=True,
                  node_featuriser='meiler', get_contacts_path='./getcontacts',
                  pdb_dir='examples/pdbs/',
                  contacts_dir='examples/contacts/',
                  exclude_waters=T

[2021-01-26 00:57] ericmjl opened #46 "Architectural issues and remediation paths"
As I go through the codebase to write tests, I'm noticing a few architectural issues to the package becoming a pydata-friendly package. I'm going to document here issues/anti-patterns that I found inside the codebase, and propose solutions.

## Issue 1: Implicit dependencies

Found `propy`, `biovec`, `ipymol`, `pytorch3d` as imports inside functions.

This is a problem because when the functions g

[2021-01-26 15:30] a-r-j commented on #46
Wow, that was a flurry of commits. Thanks for that! Will be going through today.

Ah point taken wrt to imports. I was hoping to keep them as optional dependencies to avoid too much dependence on external libraries at the expense of best practice.

For the nesting, I think this is also a very good point. This was mostly done to organise some similar sounding functions (e.g. feature functions that

[2021-01-27 02:27] ericmjl commented on #46
Actually, optional imports are not a bad idea too! I have a pattern that is used in pyjanitor: https://github.com/ericmjl/pyjanitor/blob/dev/janitor/chemistry.py. Here, the optional dependencies are kept in a try/except block, and then we raise an informative error message that tells the user how to install those dependencies.

[2021-02-06 18:25] #39 closed

[2021-02-06 18:25] #25 closed

[2021-02-06 18:26] #7 closed

[2021-02-06 18:26] #8 closed

[2021-02-09 17:57] ericmjl opened #49 "Pre-processing code"
Hey @ericmjl, yep we’re getting there 😁 ! Docs are on the horizon.

The plan for tomorrow is:

1. Docs coverage (as close 100% as sanity allows)
2. Feature Pre-processing

Re: pre-processing I was thinking of a setup where users can pass a few standard functions (one-hot, mean, etc) to a dictionary/config as well as fitted sklearn scalers for normalising across graphs in a dataset (with some helpf

[2021-02-12 15:51] #37 closed

[2021-02-12 15:52] #21 closed

[2021-03-15 15:50] #33 closed

[2021-04-08 22:21] Seanny123 commented on #44
The missing file, `examples/contacts/3eiy_contacts.tsv`, seems to exist on the `packaging` branch. You could checkout that branch to resolve your problem or you could checkout that specific file.

[2021-08-21 02:22] jadechip opened #65 "DGLError: Mutation is not supported in heterograph."
Hi there,

When I try to run the protein graph example from the README I get the following error:
`DGLError: Mutation is not supported in heterograph.`

According this post If found on google: https://discuss.dgl.ai/t/how-to-add-nodes-edges-to-heterograph/696
adding nodes to heterographs is only supported in dgl > v0.5 but the installation instructions specify version 0.4.3.

Or am I missing somet

[2021-08-21 02:25] jadechip commented on #8
Is this still on the roadmap? I would be very interested in helping making this happen.

[2021-08-21 02:26] jadechip commented on #8
This is what I have so far:

[code]

[2021-08-21 02:28] jadechip commented on #8
However, I am running into some issues trying to run the examples from the README.md so certain dependencies/libraries might not have been installed properly. Currently debugging, any feedback greatly appreciated.

[2021-08-22 20:26] a-r-j commented on #65
Hey @jadechip!

I recall we had some compatibility problems with DGL > 0.5 and so don't explitly support it. As for your error, that's a new error that I haven't come across - I suspect we may only support `dgl.DGLGraph`.

We've been working on a v2.0 of graphein (check it out on the `graphein-api` branch!) which I'd encourage you to use as there are many new features & we'll be sunsetting the ver

[2021-08-22 20:26] #65 closed

[2021-08-22 20:27] #17 closed

[2021-08-22 20:30] a-r-j commented on #8
Hey @jadechip, as mentioned on the other issue we'll be moving over to v2.0 very shortly. The install process is significatly more streamlined (As we've moved some of the troublesome dependencies to optional installs). A docker image for the full new version could be very useful indeed but we provide conda environments for base users and devs.

[2021-08-24 20:38] #32 closed

[2021-08-24 23:20] #15 closed

[2021-09-01 01:18] sajidmahmud opened #68 "pytorch installation related issue"
I set up the graphein environment according to the simple install instructions. But when I try to install pytorch (cuda version) I get  several conflicts. I followed the instructions from PyTorch website

**conda install pytorch torchvision torchaudio cudatoolkit=11.1 -c pytorch -c nvidia**

How do I solve this issue?

Thanks

[2021-09-01 09:27] a-r-j commented on #68
Hiya, it’s hard to help without some more info. Could you please share the output of `conda list` & provide some indication of which packages conflict with PyTorch?

[2021-09-01 15:45] ericmjl commented on #68
@sajidmahmud if you're not already doing so, I would strongly suggest using a single `environment.yml` file to define the source of truth for your environment. That will help make sure you have a single source of truth. If you would like a resource, [I wrote one to help out](https://ericmjl.github.io/data-science-bootstrap-notes/create-one-conda-environment-per-project/).

Hang tight, @a-r-j and I

[2021-09-02 01:01] sajidmahmud commented on #68
Hello everyone, it seems The problem is solved.

I tried to install an older version of pytorch (1.7.1) with an older cudatoolkit (10.2) and the installation went smoothly. I also installed the other dependencies and I am able to use the graphein libraries properly now. I assume it is safe to close this issue.

[2021-09-02 10:50] a-r-j commented on #68
Thanks for sharing your fix! I'll leave this open for others until Graphein is installable from PyPI/conda.

Do reach out if you run into any other problems :)

[2021-09-28 17:12] shrimonmuke0202 opened #70 "Installation problem"
There is a problem with the installation graphein in Google colab. How can I convert a protein sequence to its corresponding protein graph?

[2021-09-28 18:28] a-r-j commented on #70
Hi @shrimonmuke0202 ! I'm happy to help but I'll need some more info :D

1. Could you please provide some more info on how you're installing Graphein (pip/conda/Docker?).
2. Could you please let me know what the problem is more explicitly.
3. Could you share the output of `pip list` or `conda list`

Graphein converts protein structures (`.pdb`s) to graphs. If you have a sequence, you'll need to fo

[2021-09-29 04:22] shrimonmuke0202 commented on #70
git clone https://www.github.com/a-r-j/graphein
cd graphein
conda create env -f environment.yml
pip install -e .

I could not install graphein using the above installation procedure in google colab

[2021-09-29 04:22] shrimonmuke0202 commented on #70
git clone https://www.github.com/a-r-j/graphein
cd graphein
conda create env -f environment.yml
pip install -e .

I could not install graphein using the above installation procedure in google colab

[2021-09-29 04:22] shrimonmuke0202 commented on #70
git clone https://www.github.com/a-r-j/graphein
cd graphein
conda create env -f environment.yml
pip install -e .

I could not install graphein using the above installation procedure in google colab

[2021-09-29 08:37] shrimonmuke0202 commented on #70
ResolvePackageNotFound:
  - pytorch3d
  - dssp
  - pytorch==1.9.0=py3.8_cuda11.1_cudnn8.0.5_0

This type of error ocurrs when I run conda env create -f environment-dev.yml

[2021-09-29 08:50] shrimonmuke0202 commented on #70
We are following pip installation.
The output of the pip list is given below.

Package                       Version
----------------------------- --------------
absl-py                       0.12.0
alabaster                     0.7.12
albumentations                0.1.12
altair                        4.1.0
appdirs                       1.4.4
argcomplete                   1.12.3
argon2-cffi

[2021-09-29 08:51] shrimonmuke0202 commented on #70
After pip installation of graphein  in google colab while importing graphein package following error is occurring
ImportError                               Traceback (most recent call last)
<ipython-input-2-de1c79c6b7bf> in <module>()
----> 1 import graphein

1 frames
/usr/local/lib/python3.7/dist-packages/graphein/utils/utils.py in <module>()
     17 import xarray as xr
     18 from Bio.Data.IUPA

[2021-09-29 09:24] a-r-j commented on #70
Thanks, this is really helpful.

It looks like the problem is pyyaml.

If you run `pip isnstall pyyaml --upgrade` it should resolve the import error. I'll specify this in the requirements.

However, trying it out in a colab I get a subsequent problem with the `typing` module. Graphein supports Python 3.8+ currently (and I believe colab is 3.7 so you'd need to upgrade it).

Otherwise, can you try t

[2021-09-29 12:52] a-r-j commented on #70
The edge functions aren’t designed to return anything - https://graphein.ai/_modules/graphein/protein/edges/distance.html#add_distance_threshold

You have two options:

1. You specify the edge functions up front and pass them to the config object (or to the `edge_construction_funcs` Argument in `construct_graph`).
2. Use the `compute_edges` function

### Config Option

[code]

### Functionally

[c

[2021-10-02 20:09] a-r-j commented on #70
Hi @shrimonmuke0202

How did you get on? Am I good to close this issue now?

[2021-10-03 07:24] shrimonmuke0202 commented on #70
Yess you can close my issues.

On Sun, 3 Oct 2021, 1:40 am Arian Jamasb, ***@***.***> wrote:

[2021-10-03 13:34] #70 closed

[2021-10-03 13:36] a-r-j opened #72 "Multiprocessing for construction of graph lists"
Described in #71

[2021-10-14 12:52] a-r-j commented on #41
Hey @JoshuaMeyers! Thanks for the heads up. I'm away for the next few days but will check this out next week. You can try installing in editable mode and uncommenting (really not sure why those lines have been commented out). Otherwise, you could try using the low-level API as per https://graphein.ai/notebooks/residue_graphs.html#Low-Level-API

[2021-10-14 13:27] JoshuaMeyers commented on #41
Hey @a-r-j thanks for the quick reply, yep I'm working in editable mode for the time being so no rush, just thought I'd flag this 👍

[2021-10-16 07:24] shrimonmuke0202 opened #74 "Problem in add_atomic_edges"
[code]

When I execute the above code an error occurs. The error is given below. How can I get rid of these type of errors?

[code]

[2021-10-16 09:56] a-r-j commented on #74
I believe this is related to #41. Will have a fix this week.

[2021-10-17 05:52] shrimonmuke0202 opened #75 "Saving in gexf format"
An error occurs when saving protein atomic graph in gexf format.

`attribute value type is not allowed: <class 'numpy.ndarray'>`

How can I overcome this problem?

[2021-10-19 10:45] shrimonmuke0202 opened #76 "Atom information"
How can obtain the atoms, which are present in an atomic graph of a protein?

[2021-10-19 22:56] a-r-j commented on #75
Hi @shrimonmuke0202, gexf only supports a limited set of datatypes. You can check page 8 here: https://gephi.org/gexf/1.2draft/gexf-12draft-primer.pdf

[2021-10-19 22:56] #75 closed

[2021-10-19 22:58] a-r-j commented on #41
@JoshuaMeyers Heya, going to check this out in the next few days. Did uncommenting get things working for you? Thanks again for flagging this.

[2021-10-19 23:05] a-r-j commented on #76
Hi @shrimonmuke0202, what exactly do you want to obtain from them? If you want access to the nodes you can do something like:

[code]

Otherwise, the node data should be stored in the graph object as a dataframe:

[code]

[2021-10-19 23:05] #76 closed

[2021-10-20 04:53] shrimonmuke0202 commented on #76
I have a question, for a protein residue graph that has an empty edge list
but its atomic graph does not have an empty edge list? Also, the atom graph
has connections between two residues but in the residue graph, no
connection is present.
A:ARG:288:N A:CYS:287:C A:CYS:287:C A:CYS:287:O

On Wed, Oct 20, 2021 at 4:36 AM Arian Jamasb ***@***.***>
wrote:

[2021-10-21 07:11] shrimonmuke0202 commented on #76
PFA
Also, is the distance matrix in g.graph is contact matrix?

dist_mat': 0 1 2 0 0.000000 5.341208 12.412397 1 5.341208 0.000000 8.591149 2
12.412397 8.591149 0.000000}

On Wed, Oct 20, 2021 at 6:09 PM Arian Jamasb ***@***.***>
wrote:

[2021-11-05 21:05] diamondspark opened #77 "Converting Networkx graph to PyG"
Thank you for this excellent work. I am trying to convert the graphs out of the high-level API
`g = construct_graph(config=config, pdb_code="3eiy")`

I try to convert g further to pyG but get an error
`from torch_geometric.utils import from_networkx`
`data = from_networkx(g)`

Error:
~/anaconda3/envs/graphein_dev/lib/python3.8/site-packages/torch_geometric/utils/convert.py in from_networkx(G, grou

[2021-11-08 18:59] diamondspark commented on #77
@a-r-j Any pointers to this?

[2021-11-09 10:23] a-r-j commented on #77
Hi @diamondspark, apologies, will check this out by the end of the week. Looks like a bug to me. @kexinhuang12345 do you have bandwidth?

[2021-11-09 16:17] kexinhuang12345 commented on #77
Sure, I will take a look

[2021-11-10 21:44] kexinhuang12345 commented on #77
Hi, it seems like you are using pytorch geometric converter from networkx. Please use the graphein converter to get the PyG object:

[code]

[2021-11-11 15:14] a-r-j commented on #77
Thanks, @kexinhuang12345 ! @diamondspark , can you kindly confirm if you're all good on this front so I can close the issue.

[2021-11-11 15:25] a-r-j commented on #74
@shrimonmuke0202 Hiya, sorry for the delay. This should be fixed now. Ping me if you run into any problems!

[2021-11-12 05:11] shrimonmuke0202 commented on #74
After reinstalling graphein in the source code of graphein.protein.graphs,  the line `if granularity == "centroids":
        atoms = convert_structure_to_centroids(atoms)
    # elif granularity == "atom":
    #    atoms = atoms`  present

[2021-11-12 05:27] shrimonmuke0202 commented on #74
`ValueError                                Traceback (most recent call last)
/tmp/ipykernel_1933/1307404750.py in <module>
      2
      3 #g = construct_graph(config=config,pdb_path='pocket1_atm.pdb')
----> 4 g1 = construct_graph(config=config1,pdb_path='/mnt/d/Allostric_site_pred/New_data/pockets/1AO0_out/pockets/pocket1_atm.pdb')
      5 #g2 = construct_graph(config=config,pdb_path='/mnt/d/data

[2021-11-14 11:47] avivko opened #79 "The setup with Conda doesn't work as described"
I just want to start by saying that I really like your work / the idea behind this project.

But when I tried to install it with Conda, as suggested by your README, I noticed some problems.

1) In the README you say that you can install Graphein with the following commands, but "conda create env" is not a valid Conda command. it should be  "conda env create".
[code]
2) when you do do this, using t

[2021-11-14 14:39] a-r-j commented on #79
Hi @avivko thanks for pointing out the typos!

Wrt the conda issue, I'd reccommend installing from `pip` instead & install appropriate `CUDA` and DL libraries manually. There's a also a dockerfile (#69 ) you can try. I've encountered problems with `glibc` when using the conda environments in certain machines.

[2021-11-14 14:42] a-r-j commented on #74
Hi @shrimonmuke0202, I've made the changes available in the version on PyPI. Could you try reinstalling via pip and see if that helps?

[2021-11-16 16:24] #77 closed

[2021-11-22 12:43] EyalRozenberg1 opened #80 "bug: 'continue' not properly in loop"
In `/graphein/protein/graphs.py` line 271. The `continue` statement is used outside of a for/while loop.
Solution: replace the `continue` statement with 'pass' statement to keep functionality as needed.

[2021-11-23 08:20] EyalRozenberg1 opened #81 "bug: add_aromatic_interactions get None DataFrame"
In `graphein/protein/edges/distance.py`, function `add_aromatic_interactions`. The `pdb_df` dataframe is None by default. The following lines should be probably added (at line 261):
[code]

[2021-11-23 16:53] EyalRozenberg1 opened #82 "not all ELEMENTX-ELEMENTY bonds are present in BOND_ORDERS lookup dictionary"
`BOND_ORDERS` includes only part of all optional bonds. e.g S-S is not present but indeed optional.
Thus, at line 223 in `graphein.protein.edges.atomic.identify_bond_type_from_mapping` the following `allowable_order = BOND_ORDERS[query]` fails.

I assume the solution should be in  `graphein.protein.edges.atomic.add_bond_order` (line 188), as follows:
[code]

[2021-11-23 18:11] a-r-j commented on #82
Hi @EyalRozenberg1 Thanks for the bug reports - I appreciate it! I've added fixes to this PR (#83) - would you mind scoping them out when you've got a chance? I'll merge & reupload to PyPI ASAP :)

#80 Should be fixed in the repo already, but I don't think it's reflected in the version on PyPI

[2021-11-25 20:04] EyalRozenberg1 commented on #82
Looks good @a-r-j . Keep up the good work!
Thanks

[2021-11-25 20:04] #82 closed

[2021-11-25 20:05] #80 closed

[2021-12-02 21:25] chrisyeh96 opened #85 "Pip Installation Trouble"
It looks like there is some issue with how graphein's setup.py interacts with temporary files.

When I run `pip install graphein`, I get an error:

[code]

For context, I'm running `pip install graphein` inside a fresh conda environment create from the following environment (.yml) file:

[code]

[2021-12-02 21:27] chrisyeh96 opened #86 "Graphein Version Inconsistency?"
In the setup.py file, the version is listed as 1.0.3:

https://github.com/a-r-j/graphein/blob/7c6b0792ec7e71e7fc26401cebfd2aeface6c794/setup.py#L137-L139

However, on PyPI, the current version for graphein is 1.0.6. What accounts for the difference in version numbers?

Also, is there a version history / changelog available anywhere? Thanks!

[2021-12-03 00:42] a-r-j commented on #79
Hi @avivko how did you get on?

[2021-12-03 00:57] a-r-j commented on #86
Hi @chrisyeh96 thanks for the bug reports. I'll have the two versions aligned tonight.

Re changelog, at present, no. That's a good point though, it's probably high time we kept one.

[2021-12-03 01:28] #86 closed

[2021-12-03 01:51] a-r-j commented on #85
Hi @chrisyeh96 thanks for pointing this out! Can't believe I didn't spot it. The requirements files weren't included in the `MANIFEST.in`. Should be good to go now - you can try with the latest version up on PyPI (`1.0.8`).

Let me know if the issue persists & feel free to reopen if so.

[2021-12-03 01:51] #85 closed

[2021-12-03 07:51] chrisyeh96 commented on #85
I can confirm that `pip install graphein==1.0.8` now works as expected. Thanks @a-r-j for the quick fix!

[2021-12-03 08:22] chrisyeh96 opened #89 "Odd Sklearn Dependency"
The "base.in" file lists a "sklearn" dependency:

https://github.com/a-r-j/graphein/blob/f015e0f142f008054802ca39940eb18ac72a8d71/.requirements/base.in#L12

However, I think it should be "scikit-learn" instead of "sklearn." To my understanding, the package's name on PyPI and Conda is "scikit-learn," but for importing in actual python code, its name is "sklearn"

Oddly, there is an [actual package

[2021-12-03 19:45] a-r-j commented on #89
Good spot! Thanks for flagging these issues :) Should be resolved in `1.0.9`

[2021-12-03 19:45] #89 closed

[2021-12-18 03:48] diamondspark commented on #74
This still throws the same error, especially for Disulphide bonds. Look at Uniprot id Q15843 for instance. Any insights to the reason for this error? @a-r-j

[2021-12-18 04:14] a-r-j commented on #74
Hiya @diamondspark, I'm struggling to reproduce the error (https://gist.github.com/a-r-j/5a5bfae2dd12dced5328fcc8f1caa52e).

Could you share a minimal example & indicate which PDB you're using for `Q15843` - I just grabbed one from UniProt. Keen to get this fixed so any help is much appreciated!

Have you checked if you're using Graphein `1.0.9`? You may have to use the `--no-cache-dir` flag eg:

[2021-12-18 04:21] diamondspark commented on #74
@a-r-j  Thank you for the prompt response. I'm using 1.0.0, will try out 1.0.9
Here's a sample code that breaks
[code]

[2021-12-18 04:47] a-r-j commented on #74
Thanks @diamondspark I can reproduce the problem. Will check it out & hopefully fix it either this weekend or next week.

[2021-12-20 16:32] a-r-j commented on #79
Closing this. Please do comment if it’s not resolved & I’ll reopen the issue.

[2021-12-20 16:32] #79 closed

[2021-12-23 17:05] #74 closed

[2021-12-23 17:09] a-r-j commented on #74
@diamondspark Thanks again for pointing out the problem. I've fixed this in v`1.0.10` (`pip install graphein==1.0.10`)

It turns out the problem was caused by the protein in your example not containing any cysteine residues (and therefore we cannot create a distance matrix of sulfurs used to compute disulfide bonds). I've added a check for a minimum of two CYS residues and it seems to work in my t

[2021-12-23 17:10] #72 closed

[2021-12-30 00:57] diamondspark commented on #74
@a-r-j  Is v1.0.10 released? I do pip install graphein==1.0.10, yet graphein.__version__ returns 1.0.0

[2021-12-30 03:12] a-r-j commented on #74
Hi @diamondspark Yep, you can see it here: https://pypi.org/project/graphein/

You may want to try uninstalling & reinstalling or using ‘—upgrade’

Alternatively, which python version are you using? Earlier versions supported <3.8 but this is no longer the case and graphein requires 3.8+

[2021-12-31 19:10] diamondspark commented on #74
Perhaps it's installed. pip list shows 1.0.10 however `graphein.__version__` still shows 1.0.0. Maybe you haven't updated the code to reflect the version?

[2021-12-31 19:14] a-r-j commented on #74
Yep, good spot. Thanks for pointing that out - will take care of this. If the output of `pip list` shows `1.0.10` you should be good to go! Do let me know if the bug is otherwise fixed.

[2021-12-31 21:08] diamondspark commented on #74
There still seems to be some issue for some proteins in the calculation of distmat. I think some check for Hydrogen Bonds is needed as well. Consider these pdb ids 1qaw
1swr
3ivc
2qbw
3e85
3wzn
2r9x
Example `g = construct_graph(config=config, pdb_code='3wzn')`

[2022-01-18 01:14] diamondspark opened #97 "Getting 61 descriptors for amino acid residues from ExPaSY ProtScale"
@a-r-j I'm trying to get node features for residual level graph. Following is my code
[code]
How do I access these features?

[2022-01-18 01:26] a-r-j commented on #97
Hi @diamondspark they’re stored as node attributes. You can check out the NetworkX docs for more info: https://networkx.org/documentation/stable/reference/classes/generated/networkx.Graph.nodes.html

https://networkx.org/documentation/stable/reference/generated/networkx.classes.function.get_node_attributes.html

In short:
[code]

Let me know how you get on :)

[2022-01-18 01:43] diamondspark commented on #97
Thank you @a-r-j, this works.
I further convert this to Pytorch geometric (Pyg) graph. I'm going through your code for GraphFormatConvertor and doesn't look like it captures node attributes in conversion. I think I need to add these features to PyG nodes manually unless I'm missing something.

Thank you once again for your work.

[2022-01-18 01:47] a-r-j commented on #97
No worries, there’s the `columns` Parameter in the `GraphFormatConvertor` Object that you can use to save these features.
https://graphein.ai/modules/graphein.ml.html#module-graphein.ml.conversion

[2022-01-18 04:28] diamondspark commented on #97
Thank you! Works!

[2022-01-18 04:28] #97 closed

[2022-01-27 10:51] avivko commented on #79
Hey @a-r-j,

Sorry for taking replying so late...

I did get Graphein to run using the pip setup (which requires Python=>3.8). However, I want to also use GetContacts which requires Python 3.6. How do you get both to work in the same environment?

[2022-01-27 13:49] a-r-j commented on #79
Hi @avivko hmm seems like we’re in the depths of dependency hell here! I think the simplest route if you want to build the others from source is to do the same for Graphein. Clone the repo and install from that. IIRC the only Python 3.8 code in the repo is the use of `Literal` In these lines: https://github.com/a-r-j/graphein/blob/5f018140e5b825a1846ba3dee840136ede794c2c/graphein/protein/config.py

[2022-01-27 14:24] avivko commented on #79
I mean, I could change create my own branch and start playing around with your code, yeah. Given that this is an ongoing project, as long as you push more python>=3.8 lines, I would have continue troubleshooting conflicts.  Dssn, GetContacts, and Pymol are also baked into Graphin, so wouldn't you rather find a general solution so that you would not have built-in dependency conflicts in your produc

[2022-01-29 02:37] diamondspark opened #98 "Number of nodes and shape of node coordinates differ by 1"
Hi @a-r-j

I've been observing that some times the number of nodes generated by the library differs to the coordinate data generated by it by exactly 1 node. Do you know why this happens. Following is an example code

[code]
protdata.num_nodes == 256 ; protdata.coords[0].shape==257

Shouldn't these 2 be the same? What am I missing?
Thank you!

[2022-01-31 10:52] a-r-j commented on #79
Hey @avivko. Yep, all good points. I was intending to give you a solution that would get you up and running ASAP.

I will remove the 3.8 specific parts to support 3.6+ - Colab is python 3.6+ and I don't think the typehints are worth not supporting colab & the dependencies you mentioned. Thanks again for pointing it out.

[2022-01-31 14:15] avivko commented on #79
Hi @a-r-j ,

I appreciate that! Thanks. I think Graphein is a great project, so I'm trying to make sure it is also user friendly :)

I think a quick fix for python 3.5+ support will be using typing_extensions (pip install typing_extensions). AFAIK you can then just go ahead and import the Literal class (from typing_extensions import Literal) and not have to change anything / be able to use Literal

[2022-01-31 14:25] a-r-j commented on #79
Thanks, that’s really neat - I didn’t know about `typing_extensions`. Will try to get to this today :)

[2022-01-31 16:47] a-r-j commented on #79
Hey @avivko I started on this today. It looks like the `from __future__ import annotations` statements are breaking compatibility with 3.6 and lower as it was added in 3.7. Do you have any ideas on how to deal with this?

[2022-01-31 17:48] a-r-j commented on #98
Yep, you're right @diamondspark . There was a bug in how inserted residues are removed from the dataframe. I've pushed a fix to a pending PR. Need to write some tests but hope to get this merged in soon!

There should actually be 238 nodes in the graph as we remove the inserted residues.

[2022-01-31 22:38] avivko commented on #79
https://pypi.org/project/future-annotations/ maybe?

[2022-02-01 10:52] avivko commented on #79
@a-r-j but tbh, I'm not sure that making Graphein 3.6 compatible has to be the way to go (would be nice, but is perhaps not a must). Colab runs on Python 3.7 nowadays, and with `typing_extensions` you should be able to get Graphein to be Python 3.7+ compatible, right? The main dependency problem seems to be Pymol because it doesn't support Python =>3.9, but it does support python 3.7 and 3.8. So I

[2022-02-01 15:58] a-r-j commented on #79
Hi @avivko thanks for the help! `v.1.0.11` on PyPI should support 3.7 now. I tried going for 3.6 support but it's been sunset and it looked like it would be more effort than it's worth. I'd prefer to add additional features with that time instead.

[2022-02-16 22:03] diamondspark commented on #98
Thank you for looking into this. How to get the updated code. I did pip install graphein --upgrade. That didn't change the code in protein/graphs.py

[2022-02-18 08:40] johnnytam100 opened #105 "Installation in Colab notebook"
**Describe the bug**
I did the following for installation:
[code]
And I tried to run:

[code]

gave

[code]

I also tried to run:

[code]

gave:

[code]

**Screenshots**
![image](https://user-images.githubusercontent.com/51283097/154647873-1281d280-69d5-4656-8309-f16dd709c2a6.png)

![image](https://user-images.githubusercontent.com/51283097/154647921-8ef7fcb2-5f76-49ce-8144-6f6b5c2a7e12.png)

May

[2022-02-18 12:50] johnnytam100 commented on #105
That worked for the cells! Thanks! Unfortunately, another cell:

[code]

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
[<ipython-input-7-c327719f0d21>](https://localhost:8080/#) in <module>()
      1 from graphein.protein.visualisation import plot_protein_structure_graph
      2
----> 3 p = pl

[2022-02-18 13:23] a-r-j commented on #105
Great!

Similar problem: `!pip install -U matplotlib` will resolve this.

I think the trouble might that the colab runtime already has some versions of these libraries installed, so when you install graphein it doesn't pull in the correct versions. In any case, this is really helpful (thanks!) & I will try to account for this in the dependencies of make it clearer in the colabs.

[2022-02-19 05:18] johnnytam100 commented on #105
It worked! Thank you!
Btw, there is another cell:

[code]

[code]

[2022-02-19 10:25] johnnytam100 commented on #81
Hi, I'm sorry for reporting several situations at the same time. I met the same problem using the `add_aromatic_interactions`

[code]

May I know is it the problem with `pandas` version?

[2022-02-19 10:27] a-r-j commented on #105
`pip install biovec`

This should also be installed if you install Graphein with its optional dependencies:

`pip install graphein[extras]`

[2022-02-19 12:35] johnnytam100 commented on #105
Arian, thanks again! It worked!

[2022-02-19 12:36] johnnytam100 opened #106 "Still unable to use `add_aromatic_interactions`"
Hi, I'm sorry for reporting several situations at the same time. I met the same problem using the `add_aromatic_interactions`

[code]
returned
[code]

And I checked my pandas version:
[code]
[code]

May I know is it the problem with `pandas` version?

_Originally posted by @johnnytam100 in https://github.com/a-r-j/graphein/issues/81#issuecomment-1045985671_

[2022-02-19 13:25] a-r-j commented on #106
Hi @johnnytam100 I’m going to check this out. I’ll close this and reopen the previous issue. Thanks for bringing it to my attention!

[2022-02-19 13:25] #106 closed

[2022-02-19 13:52] a-r-j commented on #81
Hey @johnnytam100 this should be fixed in graphein 1.1.0 (`pip install graphein==1.1.0`)

[Colab example](https://colab.research.google.com/drive/17tbbY08ERiy7pwtVrHbiYS-2_clr_oBV?usp=sharing)

Looks like I'd made the fix & not updated the package 🙄 Sorry!

Closing this now, do let me know if it's still not working!

[2022-02-19 13:52] #81 closed

[2022-02-19 14:52] a-r-j commented on #98
Hi, @diamondspark. I'm working on this. It's a tricky problem resulting from insertions and alt_locs in the PDB files. These aren't always consinstently represented in the file so it's hard to come up with a robust way that catches all the corner cases.

While I'm figuring it out you can try pre-processing the PDBs with the excellent [PDB Tools](http://www.bonvinlab.org/pdb-tools/).

[2022-02-19 18:22] rg314 opened #109 "RNA graph construction and KNN representation"
I’ve just started looking at RNA graph construction. Ideally, I’d like to generate a KNN representation of the RNA. This function is currently implemented for proteins by using the `graphein.protein.edges.distance.add_k_nn_edges` function. In short, the edges for the KNN method are added by:

1.	compute distance matrix
a.	To compute the distance matrix we need to know the x,y,z position of each ba

[2022-02-19 19:50] a-r-j commented on #109
Hey, thanks for this Ryan! Looks exciting!

So, I think we should keep RNA secondary structure & 3D structure separate for now. The secondary structure is functional as a standalone piece of functionality (though it would be *really* nice to hook it up to Nussinov or [bpRNA](http://bprna.cgrb.oregonstate.edu/download.php) - the largest database I know of).

With respect to 3D graphs - I had a quic

[2022-02-19 20:13] a-r-j commented on #98
Hi @diamondspark I believe this is resolved in `1.1.1` - try it out & do let me know if not!

[2022-02-19 20:13] #98 closed

[2022-02-19 20:20] a-r-j commented on #105
This is now fixed in v1.1.1 (`pip install graphein==1.1.1`). You no longer need to change the versions of `pyyaml` and `matplotlib`. `biovec` still requires additional install (`pip install biovec` / `pip install graphein[extras]==1.1.1`); this is the intended behaviour.

[2022-02-19 20:20] #105 closed

[2022-02-21 10:00] johnnytam100 commented on #105
Thanks Arian!

[2022-02-23 08:25] diamondspark opened #111 "Apply same preprocessing as graphs to downloaded PDB in DSSP calculation"
In the method Protein/features/nodes/dssp/add_dssp_df(); Biopython's DSSP calculation is invoked on downloaded, unprocessed PDB. The resulting DSSP dataframe sometimes has a different number of residues than the protein graph generated as in #98. I believe the same preprocessing steps that are performed in Protein/graph.py are needed in Protein/features/nodes/dssp/add_dssp_df()

E.g. PDB: 1utm, 2q

[2022-02-23 08:43] a-r-j commented on #111
Hi @diamondspark this is somewhat intentional. The graph attribute (`g.graph[“dssp_df”]`) is mostly intended to be used for traceability/record keeping. The actual features should be available as node attributes.

[code]

Do you have very strong feelings about this? I wonder what the best way to allow control of this is. Perhaps in the DSSPConfig object we can have a parameter controlling whether

[2022-02-27 00:39] josephmaa opened #112 "Cannot install environment-dev.yml on CPU"
**Describe the bug**
Cannot develop on MacOS Big Sur (11.5.2) on CPU.

**To Reproduce**
Steps to reproduce the behavior:

1. Run `conda env create -f environment-dev.yml`
2. Error output:
[code]

**Expected behavior**
Expected installation of pytorch, cudatoolkit, pytorch3d

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following infor

[2022-02-27 20:29] a-r-j opened #114 "Add distances as edge features"
**Describe the solution you'd like**
Currently, when we compute edges (`graphein.protein.edges.distance`) we make use of the distance between the interacting nodes in assigning the edge. However, we do not store this information as an edge attribute. This would be very useful as it is a very standard feature in protein GNN models.

[2022-02-27 20:34] a-r-j opened #115 "Sequence-based Edge function"
**Describe the solution you'd like**
Currently, we add sequence-based edges in the form of `graphein.protein.edges.distance.add_peptide_bonds`, which joins adjacent residues with an edge (e.g. separation=0). It would be useful to generalise this function to add edges at a specified interval. E.g:

[code]

Would add edges between nodes:

[code]
and

[code]

Would add edges between nodes:

[code]

[2022-02-28 18:02] a-r-j opened #117 "Use multiprocessing graph constructor for CLI"
**Is your feature request related to a problem? Please describe.**
[Currently](https://github.com/a-r-j/graphein/blob/0e6f075e716ae10b8afebf47cc0d8eada46d4f08/graphein/cli.py#L54) the CLI uses the normal `construct_graphs` function. Once the `dataloaders` PR is merge we can change this to the multiprocessing method to improve speed.

[2022-02-28 18:25] a-r-j opened #118 "Plotly based visualisation of PPI Networks"
**Is your feature request related to a problem? Please describe.**
[Currently](https://github.com/a-r-j/graphein/blob/master/notebooks/ppi_graph.ipynb) we define a rather clunky colouring scheme and use the default `nx.draw(g)` to view PPI graphs. It would be an improvement to develop some interactive plots using Plotly to view these graphs.

[2022-03-03 21:34] a-r-j opened #120 "Add sidechain vector node feature"
**Is your feature request related to a problem? Please describe.**
Add vector from node (CA, centroid, etc) to the centre of mass of the sidechain R-Group as node feature.

[2022-03-04 02:26] #112 closed

[2022-03-06 20:21] a-r-j opened #122 "Add CA-CB node vector feature"
**Describe the solution you'd like**
Compute vector from CA -> CB atoms on a per-residue basis. Add as nodes.

[2022-03-06 20:23] a-r-j commented on #118
Implemented in #119

https://github.com/a-r-j/graphein/blob/9071090539a4e380f17cb10471d9a5297b708e69/graphein/ppi/visualisation.py#L46

[2022-03-06 20:23] #118 closed

[2022-03-06 20:31] a-r-j opened #123 "YAML Configs for existing methods"
**Is your feature request related to a problem? Please describe.**
Now that we have a CLI (#113), it would be nice to provide some default configs implementing graph construction schemes from the literature.

Suggested papers:
* https://www.nature.com/articles/s41467-021-23303-9
* https://arxiv.org/pdf/2009.01411.pdf
* https://arxiv.org/pdf/2012.11762.pdf
* https://proceedings.neurips.cc/paper/201

[2022-03-08 01:42] johnnytam100 opened #125 "Offline usage?"
Hi Arian! I'm sorry for opening an issue again but here is a feature request:
Is it possible to use graphein offline?
I am trying to run graphein in a supercomputer to perform massively parallel graph construction.
However, as you can expect, the nodes do not allow internet access so graphein ends up error like:

`urllib.error.URLError: <urlopen error [Errno -2] Name or service not known>`

It wil

[2022-03-08 01:50] a-r-j commented on #125
Is the problem with protein graphs?

If so, you’re in luck! Graphein can be used on local PDB files - I expect the part that is failing is the download from the PDB. If you use the `pdb_path` Parameter in [`construct_graph()`](https://graphein.ai/modules/graphein.protein.html#graphein.protein.graphs.construct_graph) you can simply provide a path to the PDB. Eg

[code]

The only other thing that co

[2022-03-08 15:15] a-r-j commented on #111
Hey @diamondspark any comments on this? If not I will close.

[2022-03-08 15:15] a-r-j commented on #111
Hey @diamondspark any comments on this? If not I will close.

[2022-03-08 17:19] diamondspark commented on #111
Hi @a-r-j
I haven't had time to get back to this but I think g.nodes(data=True) should solve my purpose. Thank you once again.

[2022-03-08 17:19] #111 closed

[2022-03-08 19:03] a-r-j opened #126 "Add additional inputs for CLI"
**Describe the solution you'd like**
* inputs for chain selection as a separate .txt file
* Input as list of PDB codes (txt file) rather than PDB directory path

[2022-03-09 15:07] #120 closed

[2022-03-09 15:07] #122 closed

[2022-03-09 15:08] a-r-j commented on #125
Hi @johnnytam100 how did you get on? Can I close the issue?

[2022-03-10 00:32] johnnytam100 commented on #125
Hi Arian! I'm sorry for the late reply! I am testing it right now. Possibly you can close it first. :)
Thanks!!

[2022-03-10 12:49] a-r-j commented on #125
Alright, let me know if you have some trouble. Happy to help! :)

[2022-03-10 12:49] #125 closed

[2022-03-11 13:06] a-r-j opened #127 "Support for mmCIF Files"
**Is your feature request related to a problem? Please describe.**
Currently, we only support PDB files as inputs for protein structure graphs. [Large complexes are now unavailable as PDBs.](https://www.rcsb.org/docs/general-help/structures-without-legacy-pdb-format-files):

**Describe the solution you'd like**
Once BioPandas has support for parsing mmCIF files (rasbt/biopandas/#94) , we can parse

[2022-03-12 12:24] a-r-j opened #128 "Graph Coarsening to chain / SS Elements"
**Describe the solution you'd like**
This feature would add a set of functions to map residue / atom-level graphs to secondary structure / chain-level graphs, preserving metadata and aggregating node & edge information in the coarsened graph

[2022-03-13 17:47] a-r-j opened #129 "Plot distribution of 3D vectors"
**Describe the solution you'd like**
It’d be nice to be able to visualise the distribution of vector features in a manner decoupled from the structure. Perhaps in a way that generalises these types of plots: https://geoffboeing.com/2018/07/city-street-orientations-world/

**Describe alternatives you've considered**
None, very speculative.

[2022-03-14 12:32] johnnytam100 opened #130 "Loading graph into pytorch_geometric"
Hi Arian! I'm sorry for asking you again but I would like to load a residue graph into pytorch_geometric.

I tried:

[code]

`<networkx.classes.graph.Graph at 0x7fb972473150>`

[code]
[code]

Do you have any experience working on graphein with pytorch geometric?

Thanks in advance.

for info on `torch_geometric.utils.from_networkx`

https://pytorch-geometric.readthedocs.io/en/latest/modules/utils.

[2022-03-14 12:42] a-r-j commented on #130
Hi @johnnytam100, yep!

You have to use [our conversion utility](https://graphein.ai/modules/graphein.ml.html#conversion):

You can see an example [here](https://graphein.ai/notebooks/pscdb_baselines.html) (although I note it's not rendering correctly in the docs - will try to fix - but the syntax should be enough to go on)

Hope it helps :)

If you're having any trouble let me know and I'll reope

[2022-03-14 12:42] #130 closed

[2022-03-14 12:44] a-r-j opened #131 "Baselines notebook not rendering correctly in docs"
**Describe the bug**
https://graphein.ai/notebooks/pscdb_baselines.html

Notebook not rendering. Likely built docs in an environment without torch geometric (and associated dependencies like `torch_scatter`)

#130

[2022-03-14 12:47] a-r-j opened #132 "Conversion module not populated in docs"
**Describe the bug**
Currently https://graphein.ai/modules/graphein.ml.html#conversion is empty. Docstrings are not populating docs page.

#130

[2022-03-15 09:43] johnnytam100 commented on #130
Hi Arian, it worked! Thank you so much for your notebook!

Btw, I am re-writing your multi-class classification model to a regression model, would you mind pointing to me how to slightly modify the model to make it works?

[code]

Unfortunately, I got this:

[code]

[2022-03-15 11:16] a-r-j commented on #130
The problematic line is:

`self.decoder = nn.Linear(config.n_out, 7)`

You should change the output dimension (7) to match the dimensions of your labels. You’ll also want to report [regression metrics](https://torchmetrics.readthedocs.io/en/latest/references/functional.html#regression) instead of classification metrics

[2022-03-15 13:30] johnnytam100 commented on #130
Thanks Arian! I made it worked with more modifications, and I make a record here for people who need to do regression:

[code]

[code]

[2022-03-15 13:58] a-r-j commented on #130
Awesome! Glad it works!

[2022-03-16 03:21] johnnytam100 opened #134 "chain_selection returns KeyError: 'residue_name'"
Hi Arian, I'm sorry for the frequent opening of threads!

I want to do chain selection of PDB [2VVI](https://www.rcsb.org/structure/2vvi), which has chains A, B, C and D.

`g = construct_graph(config=config, pdb_code='2VVI', chain_selection="A")`

However, it returns a KeyError: 'residue_name':

[code]

Any idea how to resolve this error?
Thanks!

[2022-03-16 03:27] a-r-j commented on #134
Hi Johnny, no worries!

Could you please share the config? It looks like the trouble is occurring when you’re assigning the disulphide bonds. The key error says there is something that doesn’t have a `resiude_name` In the graph. Potentially, we’re not filtering out some unwanted HETATMS/Ligands. Are you including heteroatoms intentionally?

If you can share the config I can take a closer look this

[2022-03-16 03:58] johnnytam100 commented on #134
My graphein version is `graphein                      1.2.0`

And I have tested your code, which worked! Then I found something strange, if you swap the positions of `add_disulfide_interactions` and `add_hydrogen_bond_interactions`, like this

[code]
[code]

My original config was

[code]

Swapping only "add_hydrogen_bond_interactions" and "add_disulfide_interactions" doesn't work.
Then I wonder w

[2022-03-16 03:59] a-r-j commented on #134
Huh, that is a bug. I’ll check it out

[2022-03-16 04:07] a-r-j commented on #134
Ah, I see what’s going on. The hydrogen bonds are looking at the unfiltered dataframe and adding in new nodes from the other chains. These nodes don’t have any metadata attached because they weren’t added in the earlier steps where we add information to nodes and so we get the error.

This is definitely a bug and I’ll figure out a fix. What I would recommend you do for now is to not use the `chain

[2022-03-16 07:09] johnnytam100 opened #135 "Cannot pickle after calling graphein.protein.subgraphs.extract_subgraph_from_chains()"
Hi Arian, I am trying the [graphein.protein.subgraphs.extract_subgraph_from_chains()](https://graphein.ai/modules/graphein.protein.html#graphein.protein.subgraphs.extract_subgraph_from_chains) you suggested.

After that, I want to pickle the graph.

Originally, pickling with the original graph worked fine:

[code]

However, when the [graphein.protein.subgraphs.extract_subgraph_from_chains()](https

[2022-03-16 08:03] a-r-j commented on #135
Hmm, I think I see what’s going on.

Could you try changing some combinations of the parameters in `extract_subgraph_from_chains` - particularly `upade_coords=False`

[2022-03-16 09:13] a-r-j commented on #135
Perfect!

So, `update_coords` recomputes the the coordinate array in `g.graph["coords"]`. Since we are taking a subset, we need to remove some of the coordinates. The problem is [this line](https://github.com/a-r-j/graphein/blob/c0b252f34faabce1c9592b8e734c54db809caa04/graphein/protein/subgraphs.py#L64) which is a generator comprehension (which causes the pickling to fail). It's an easy fix to swi

[2022-03-16 16:00] johnnytam100 commented on #135
I see! Thanks for the workaround! Hmmm, and I got the following error:
[code]
[code]

[2022-03-16 16:04] a-r-j commented on #135
Yep @johnnytam100, I made a typo. It should be:

[code]

Just running the tests to get these fixes merged in. `1.2.1` should be available tonight :)

[2022-03-16 17:38] a-r-j commented on #132
Resolved in #136 (`pip install graphein==1.2.1`)

[2022-03-16 17:38] #132 closed

[2022-03-16 17:38] a-r-j commented on #131
Resolved in #136 (`pip install graphein==1.2.1`)

[2022-03-16 17:38] #131 closed

[2022-03-16 17:42] a-r-j commented on #134
Hey @johnnytam100 you should be able to proceed as normal now. v1.2.1 has fixes for this now and is on PyPI (`pip install graphein==1.2.1`). Would you mind giving it a try & letting me know if all's well so I can close the issues?

[2022-03-17 02:38] johnnytam100 commented on #135
Thank you @a-r-j ! It is fine now with `pip install graphein==1.2.1`! :)

[2022-03-17 02:39] johnnytam100 commented on #134
Thank you @a-r-j ! It is fine now with `pip install graphein==1.2.1`! :)

[2022-03-17 02:56] a-r-j commented on #135
Perfect! Don’t hesitate to open another issue if you find something else that’s not behaving as expected. It’s incredibly helpful :)

[2022-03-17 02:56] #135 closed

[2022-03-17 03:13] #134 closed

[2022-03-19 00:15] #115 closed

[2022-03-19 15:55] johnnytam100 opened #142 "Format inconsistency between graphs constructed by pdb_code and pdb_path?"
Hi Arian! Seems there is format inconsistency between graphs constructed by `pdb_code` and `pdb_path`:

[code]
[code]

[2022-03-19 16:11] a-r-j commented on #142
Hi @johnnytam100 I don't believe this is a bug. I don't think checking for equality with `==` is supported by NetworkX. They are different python objects - we can see this with the following example:

[code]

Instead, we should check if the graphs are the same, rather than if the python objects are the same.

You can do this with [`nx.is_isomorphic()`](https://networkx.org/documentation/stable/ref

[2022-03-20 02:25] johnnytam100 commented on #142
Arian, I am sorry for the silly testing using `==`...

I see your tests, so you confirmed the graph from `pdb_code` is identical to `pdb_path`.

Why I raised this question was because when I used graphs constructed from `pdb_code` and fed them into the machine learning example you provided, it worked.

However, when I used graphs constructed from `pdb_path`, `type` error appeared (possibly, somewh

[2022-03-20 02:26] johnnytam100 commented on #142
In particular, I want to understand this part, what does it do?

[code]

[2022-03-20 02:40] a-r-j commented on #142
Hey @johnnytam100, no problem at all. I’ll take a closer look at your code later today.

With respect to the code block you quoted:

[code]

This loops over the list of converted graphs, and simply checks if the shape of the coordinate array matches the number of nodes in the graph. E.g. do we have a coordinate for each node and do we have a node for each coordinate.

[2022-03-20 03:11] a-r-j commented on #142
So, I'm not sure why this would be different between the graphs created from pdb files and from pdb codes but I think the problem is here:

[code]

From what I understand, you're checking to see if the dataset has a label. If it does, you assign the label to `g.y` and you convert the coordinates to `FloatTensors`. The problem is that your list of graphs (`pyg_list`) still contains graphs that don'

[2022-03-20 04:04] johnnytam100 commented on #142
@a-r-j Thank you so much for helping out!!! Yes, you exactly described what I was trying to do. I wrote something very similar before, but then there is another error:

[code]

However, I now got a fix that I don't know why: by writing two consecutive loops to remove the graph without `y`.

[code]

[2022-03-22 07:36] a-r-j commented on #109
Came across this today: https://www.biorxiv.org/content/10.1101/2022.03.14.484334v1

Might be of interest to you @rg314

[2022-03-24 17:25] #142 closed

[2022-03-28 02:34] a-r-j opened #146 "Distance threshold edges not added to the graph"
**Describe the bug**
Looks like the latest version has broken something in the edge assignment in add_distance_threshold. They are still computed but not assigned to the graph.

[2022-03-29 16:06] avivko opened #148 "C_beta_vector: 2D Vector Plotting Error"
**Describe the bug**
Running
`fig = add_vector_to_plot(g, fig, "c_beta_vector")`
For some PDBs (i.e. 6rew, 7w9w) yields an error message because apparently some vectors are only 2D:

[code]

​
​

**To Reproduce**
Steps to reproduce the behavior:

[code]
This yields the error message above.

**Expected behavior**
All PDBs and amino acids should be vectorizable (in 3D) and all vectors plottable.
I w

[2022-03-29 16:24] a-r-j commented on #148
Hi @avivko thanks for raising this issue. It looks like the vector computation functions aren't accounting for possible altlocs and therefore compute a vector for each possible CB position. I'll try to figure out an elegant solution for this. In the meantime, you can use something like [pdbtools](http://www.bonvinlab.org/pdb-tools/) to clean up the structure and remove undesired altlocs.

[2022-03-29 16:41] a-r-j commented on #148
We try to [remove them in the graph construction](https://github.com/a-r-j/graphein/blob/4352f2e7dac541a3b371f49d27039709009adf1d/graphein/protein/graphs.py#L150). The trouble was that the cbeta function relied on the `raw_pdb_df` which we keep as metadata for traceability. I forgot we also compute a clean rgroup dataframe in construction so it makes much more sense to use that instead.

I just op

[2022-04-04 18:49] rg314 commented on #109
Just to follow up on this... we found that the [nussinov.py](https://github.com/cgoliver/Nussinov/blob/master/nussinov.py) algo isn't great at predicting the dot-bracket notation. I suggest that we create a container running https://github.com/rg314/centroid-rna-package and ping it to get the centroid secondary structure. What do you think @a-r-j ?

[2022-04-05 14:33] a-r-j commented on #148
Now fixed in `1.3.0` :)

[2022-04-05 14:34] a-r-j commented on #146
Fixed in `1.3.0`

[2022-04-05 14:34] #146 closed

[2022-04-05 14:34] #128 closed

[2022-04-09 17:27] a-r-j opened #155 "Support for small molecules & Protein Ligands"
This issue serves as the starting point for developing features to support small molecule graphs.

### Ligands from Mol2 files:
* This should be straightforward using [BioPandas](https://github.com/rasbt/biopandas) support for Mol2 files: https://rasbt.github.io/biopandas/api_subpackages/biopandas.mol2/

### Ligands from SDF files
I'm not aware of any lightweight parsers for SDF files. We could us

[2022-04-10 02:28] yuanqidu commented on #155
Hey Arian, I will be working on it :D

[2022-04-11 03:40] yuanqidu commented on #155
I agree that both RDKit and OpenBabel could be optionally dependency packages as they are much easier to install these days with conda and building the small molecule support with these two packages should be great.

[2022-04-11 11:35] a-r-j commented on #155
Yep, I think of the two RDKit is the better choice since it is now [pip installable](https://pypi.org/project/rdkit-pypi/). OpenBabel could be trickier (I’ve had some issues getting the python bindings working properly in the past).

[2022-04-12 09:38] avivko opened #156 "PowerIterationFailedConvergence"
**Describe the bug**
graph summary: nx.eigenvector_centrality seems to throw an error.

**To Reproduce**
[code]
Results in:
[code]

**Desktop (please complete the following information):**

- OS: Linux
- Python Version: 3.8
- Graphein Version [e.g. 22] & how it was installed: 1.3.0; via Pip

[2022-04-12 15:34] a-r-j commented on #156
Hi @avivko  this is not a problem with Graphein (or nx, really) but rather with the graph. This particular method fails when there are multiple largest eigenvalues. You can try with: `nx.eigenvector_centrality_numpy`, I believe. If that works out, would you be able to let me know & I can update Graphein to use this method for the centrality measure?

[2022-04-13 11:52] avivko commented on #156
@a-r-j Thanks responding. This seems to happen with all the PDB-based graphs I was trying to work with. Using the Numpy method that you suggested does solve this:

[code]
Results in the expected Pandas DataFrame being returned (as expected)

So I'd recommend replacing the method in Graphein's source code :)

[2022-04-19 08:17] #155 closed

[2022-04-20 11:26] a-r-j commented on #156
This has now been changed in 1.4.0 :)

[2022-04-20 11:26] #156 closed

[2022-04-20 12:49] a-r-j opened #162 "Protein-Ligand Interaction Graphs"
Follow on issue for #155

We'd like to support Protein-Ligand Interaction Graphs eg as shown in this image from [this paper](https://pubs.acs.org/doi/10.1021/acs.jmedchem.1c01830).

![image](https://user-images.githubusercontent.com/23709768/164233337-4d53d7eb-7c99-459a-a928-c6834a6cebc5.png)

Ideally we can keep this composable under the hood. E.g. we could take a protein graph computed via the `

[2022-04-21 07:23] yuanqidu commented on #162
I will work on this one :D

[2022-05-12 07:08] chrisyeh96 opened #166 "Unnecessary print statement"
Could you please either comment out this print statement, or put it behind some verbosity flag? Thank you!

https://github.com/a-r-j/graphein/blob/6f6913a71aa2cab40d0b26b6e6bfbf7a2760a8fd/graphein/protein/edges/distance.py#L79

[2022-05-12 13:01] a-r-j commented on #166
Thanks for tracking that down - it was getting on my nerves a little! Yep, will change this.

[2022-05-12 13:43] avivko opened #167 "asteroid_plot: show_edges"
**Describe the bug**
Using show_edges=True as an argument raises an error because of the formatting of the colo(u)rs for the scatter plot.

**To Reproduce**
For example:
[code]

[code]

**Expected behavior**
Having edges in the plot would be nice :)

**Desktop (please complete the following information):**

- OS: macOS
- Python Version 3.8
- Graphein Version 1.4.0, installed via pip

[2022-05-12 13:51] a-r-j commented on #167
Hey @avivko I'll check this out ASAP. Do you have a PDB code for the example?

[2022-05-12 13:54] avivko commented on #167
No hurry @a-r-j :)

I used the PDB 6REW.
This is a more detailed rundown of how I got the error:

from graphein.protein.subgraphs import extract_subgraph_from_chains
from graphein.protein.config import ProteinGraphConfig, DSSPConfig
from graphein.protein.features.nodes.amino_acid import expasy_protein_scale, meiler_embedding
from graphein.protein.features.nodes import asa, rsa

conf_functions = {"

[2022-05-12 14:45] a-r-j commented on #167
Ah, I dug into this.

The problem is that plotly doesn't support multiple colours for a single line trace. I've worked around this before [here](https://github.com/a-r-j/graphein/blob/91c5f591946ae1fa2ac867224e83139e470416a9/graphein/ppi/visualisation.py#L178) by making a new trace for each line segment. If you wanted to have a go at making the change I'd be super happy to support.

Alternatively,

[2022-05-13 00:54] a-r-j opened #168 "Simplify AF2 structure retrieval"
**Is your feature request related to a problem? Please describe.**
Now that biopandas 0.4.0 is out (:partying_face:) we can simplify graph construction from AF2 by simply adding a `uniprot_id` arg to `graphein.protein.graphs.construct_graph()` instead of doing the gymnastics of downloading a structure and feeding it in manually.

[2022-05-13 00:55] a-r-j opened #169 "Handle structural ensembles containing multiple models"
**Is your feature request related to a problem? Please describe.**
Now that biopandas 0.4.0 is out (:partying_face:) we can moire easily select models from PDBs containing structural ensembles.

[2022-05-13 23:06] #167 closed

[2022-05-14 08:45] avivko opened #171 "local pdb + dssp = error"
**Describe the bug**
When using a local pdb file and a ProteinGraphConfig that contains a DSSPConfig, DSSPConfig always tries to download the pdb file, even if it is in the pdb_dir, and throws an error if the name of the pdb file is not a PDB ID.

**To Reproduce**

[code]
Results in:
[code]
Whereby this also happens when the file is placed in the pdb_dir:
[code]

**Expected behavior**
- I want to

[2022-05-14 08:47] avivko commented on #171
@a-r-j do you want to fix it or should I have a go at it?

[2022-05-14 08:52] a-r-j commented on #171
I've penciled in finishing a few pending PRs today. If you want it fast, I'd appreciate a contribution :)

Should be an easy fix: I think it's just missing a `.pdb` extension in this line: https://github.com/a-r-j/graphein/blob/1c87afdcba4ce45c17242c8e74d2a1d60d6b9076/graphein/protein/features/nodes/dssp.py#L121

[2022-05-19 10:47] OliverT1 opened #173 "Insertions always removed"
Even when changing config.insertions to True, insertions are always removed and not included as nodes in the generated graph.

This is due to the config.insertions paramater not being passed to process_dataframe() in graphs.py, meaning the default value of False is always used.

[2022-05-19 11:20] a-r-j commented on #173
Thanks for the report and quick PR.

Out of interest, what's your usecase here? I've considered adding support for an optional entrypoint to select insertions of interest though they've never been something I've wanted in practice.

[2022-05-19 11:21] #173 closed

[2022-05-19 15:48] a-r-j commented on #173
Ah, I see; that makes sense.

That'd be great! Happy to discuss. I've just added a tutorial notebook appling e(n)GNNs to antibody developability prediction [here[(https://github.com/a-r-j/graphein/blob/rna3d/notebooks/tdc_developability.ipynb) that you might be interested in.

[2022-05-19 19:00] a-r-j opened #175 "[Doc Migration] - Temporarily available at: https://tlb-lab.github.io/"
Docs are being migrated from current hosting. Changes can take a day or two to propagate. In the meantime, there are available at:

https://tlb-lab.github.io/

[2022-05-19 19:54] a-r-j commented on #175
The docs have returned home: https://graphein.ai/

[2022-05-19 19:54] #175 closed

[2022-05-20 10:30] OliverT1 commented on #173
Great, I'll get in touch when I've wrapped up this project then. Thanks for sharing, very similar to what I'm doing! I'm also using the Satorras model.

[2022-05-24 02:08] #46 closed

[2022-06-05 13:54] cimranm opened #177 "Can't plot adjacency matrix of subgraph"
Hi there,

Just getting started with Graphein and so far it's awesome, the docs are very helpful too -- my issue is with trying to plot a subgraph from a protein graph `g`.

Not sure if I'm doing something wrong, but I cannot plot the subgraph `s_g` using the adjacency matrix.  I get the following error from plotly:

[code]

It seems to be the fact that my subgraph has 7 nodes, but the adjacency m

[2022-06-10 06:51] a-r-j commented on #177
could you true using `filter_dataframe=True` and maybe `update_coords=True` too?

[2022-06-10 19:49] a-r-j commented on #177
Figured it out, typo here: https://github.com/a-r-j/graphein/blob/0a2d5e39787cf002c06b03615d9dd3fe62e0171d/graphein/protein/subgraphs.py#L70

should be `"dist_mat"`, not `"distmat"`. Have pushed a fix to master.

[2022-06-12 03:56] cimranm commented on #177
Hey @a-r-j , yep I figured the same thing but was waiting to hear back from you -- I actually modified `visualisation.py` to use `g.graph["distmat"]` as I wasn't sure what behaviour you wanted (i.e. the original adjacency matrix should still be accessible from a subgraph?)

Anyway, thanks for the fix :)

[2022-06-12 04:26] cimranm commented on #177
@a-r-j  another issue is when the subgraph is plotted, the node labels are assigned to the x and y axes randomly (but the actual distance matrix cols / rows are plotted in sequence order).  At the moment i've fixed this using the following:

[code]

Hope that makes sense!

[2022-06-12 14:07] a-r-j commented on #177
Good spot. Seems like the start of a solution, but I think your solution breaks down with multichain proteins, no?

[2022-06-13 08:15] a-r-j commented on #177
Yep, go ahead with a PR. Happy to review & support :)

That's an interesting use case you've described. I think it would be a good addition. The plot functions accept a distance matrix (separately from a graph) which I anticipated could be used for this sort of thing. However, if this is something that would be really useful for you it's probably useful for others and so we should support it.

[2022-06-21 04:53] johnnytam100 opened #179 "AttributeError: Can't get attribute '_unpickle_block' on <module 'pandas._libs.internals' from '/usr/local/lib/python3.7/dist-packages/pandas/_libs/internals.cpython-37m-x86_64-linux-gnu.so'>"
Hi @a-r-j how are you doing? Sorry for raising a question again!

Previously I prepared some protein graphs with graphein and I want to load them now.

[code]

And I got

`AttributeError: Can't get attribute '_unpickle_block' on <module 'pandas._libs.internals' from '/usr/local/lib/python3.7/dist-packages/pandas/_libs/internals.cpython-37m-x86_64-linux-gnu.so'>`

According to [this thread](https:/

[2022-06-21 09:16] johnnytam100 commented on #179
Unfortunately, my old environment has gone because I moved to a new lab..
To test if it is due to environment incompatibility, I have just re-prepared new graphs in a fresh new environment but still bump into the same error with `pickle.load`

Alternatively, do we have a different way of saving + loading graphein graphs?

After loading, I am doing machine learning downstream using `karateclub`, li

[2022-06-21 09:24] a-r-j commented on #179
Hmm that's odd. I just tried a clean install on colab:

[code]

[2022-06-24 09:01] johnnytam100 commented on #179
@a-r-j I am re-preparing new graphs so we can close this issue. :) THanks!

[2022-06-24 09:02] #179 closed

[2022-06-25 17:46] avivko opened #180 "chord_diagram / adj_mat"
**Describe the bug**

Can't plot chord_diagram with gp.visualisation.chord_diagram(mat, names=list(chain_graph.nodes), use_gradient=True).

output:
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
Input In [3], in <cell line: 20>()
     17 chain_graph = gp.compute_chain_graph(g, remove_self_loops

[2022-06-25 17:50] avivko commented on #180
Same goes for
[code]
By the way.

[2022-06-25 18:00] a-r-j commented on #180
Hi @avivko thanks for pointing this out. I’ve actually encountered it myself & believe I have fixed it on the `rna3d` Branch. There were some breaking changes in `mpl_chord_toolkit` - you can try installing `0.3.2` (I suspect you’ll have `0.4.0`).

[2022-06-26 14:16] avivko commented on #180
Hey @a-r-j . Downgrading to 0.3.2 did the trick. Thanks!

[2022-06-27 10:45] a-r-j opened #181 "ALA & GLY Missing from bond state mapping"
**Describe the bug**
Bond state mapping is missing entries for ALA and GLY.

https://github.com/a-r-j/graphein/blob/11407a1345e6f519961a8923ad850fc772616268/graphein/protein/resi_atoms.py#L1736

[2022-06-27 10:56] a-r-j commented on #181
This issue is a mistake - these residues are accounted for in the default mapping (as they have no/limited sidechains).

[2022-06-27 10:56] #181 closed

[2022-06-27 11:09] cimranm commented on #15
Hi @a-r-j

Do we still want scaling node size by `By feature magnitude (single or several?)` as a feature?

I'm currently implementing it for a project anyway, but would be happy to submit a PR if we want an inbuilt way of doing so.  maybe passing in a `node_size_feature` to `plot_protein_structure_graph()`.

What do you reckon?

[2022-06-27 11:18] a-r-j commented on #15
Hi @cimranm that'd be a great addition.

I'm not sure as to how to handle it most elegantly. One option is to use a string argument to grab a node feature from the graph (easier for the user maybe if only using scalar features, but a lot of them are stored as series/arrays etc) or node_size_feature is a dict

`node_size_feature: Dict[str, float] = {"A:SER:2": 1.2, "A:GLY:3": 3.4, ...}`

or an arra

[2022-07-02 15:38] cimranm commented on #15
Hmm, I've had a chance to look at it and i've given another PR.  Not sure if the way i'm implementing it makes sense (I'm still new to this!) Would love to hear your thoughts @a-r-j

[2022-07-08 07:03] cimranm opened #188 "DSSP Calculation always downloads new PDB file"
Not sure if I'm missing something, but if I want to create an amino acid graph and store `rsa` values in the nodes, I can do the following

[code]

This loads the graph from the local PDB file ok, but when the DSSP is calculated, I get an error (I think a function is trying to download from the Protein Data Bank assuming the code given is not UniProt?)

Is there some way to run DSSP on the local f

[2022-07-08 08:18] a-r-j commented on #188
Yep, if you set the `pdb_dir` Arg in the `ProteinGraphConfig` it should check for the existence of the file:

https://github.com/a-r-j/graphein/pull/172/files

I think there is potential for an even cleaner solution now based on streaming the structure data frames in PDB format. I may pick that up this weekend.

The UniProt error should be resolved in #187

[2022-07-11 08:15] a-r-j commented on #188
How did you get on @cimranm ? Can I close this issue?

[2022-07-12 11:35] a-r-j commented on #169
Supported in `1.5.0`

[2022-07-12 11:35] #169 closed

[2022-07-12 11:36] a-r-j commented on #168
Implemented in `1.5.0`

[2022-07-12 11:36] #168 closed

[2022-07-12 11:36] a-r-j commented on #114
Supported in `1.5.0`

[2022-07-12 11:36] #114 closed

[2022-07-12 11:36] #166 closed

[2022-07-12 11:37] a-r-j commented on #109
Implemented in `1.5.0`

[2022-07-12 11:37] #109 closed

[2022-07-13 01:39] johnnytam100 opened #193 "Loading 300,000 graphs that doesn't fit into memory"
Hi @a-r-j and thanks for your help as always!
I am trying to load ~300,000 graphein protein graphs by pickle.load (then do model.fit() with karate club), like this

[code]

However, the whole thing doesn't fit into memory.
Do you know a smarter way that can bridge such a huge number of protein graphs to machine learning models?
I am grateful if you can share some hints.
Thank you!

[2022-07-13 06:48] linminhtoo commented on #193
what does model.fit() do under the hood?

if it is running SGD (stochastic gradient descent) on batches of graphs, you don't need to load all graphs into memory at once. you just need to load batch by batch into memory.

[2022-07-13 13:36] a-r-j commented on #193
Hi @johnnytam100 I had a quick look at the FeatherGraph model. It doesn't appear there are any learnable params from a cursory glance so I think you can simply load batches if your graphs into memory and compute the embeddings. You can probably parallelize it too for greater speed.

You can maybe find some inspiration from the `ProteinGraphDataset` class which does this (but only for the PyTorch e

[2022-07-14 12:37] johnnytam100 commented on #193
Thank you so much for the advices!!!! 🙇🏻‍♂️

[2022-07-15 01:47] cimranm commented on #188
@a-r-j yep, all good! Thanks for your help.

[2022-07-18 08:00] #188 closed

[2022-07-18 08:27] cimranm opened #195 "CLI support for graph transformation 'pipelines'"
I'm aiming to generate protein graphs in bulk in order to then perform unsupervised clustering on them.  I would also like to repeat this process on several different proteomes.

I would also like to apply several intermediate steps (e.g. select subgraph of radius `r` for each graph; select subgraph of threshold `rsa`)

So far, I have seen that `ProteinGraphDataset` retrieves PDB files from a list

[2022-07-19 12:28] avivko opened #196 "Construct_graphs_mp with esm_equence_embedding throws error"
**Describe the bug**

Constructing graphs with the multiprocessing method  (Construct_graphs_mp) does not work with ESM sequence embedding (i.e. with a config which includes graph_metadata_functions: esm_equence_embedding).

Error message:
[code]

**To Reproduce**
Simplified steps to reproduce the behavior:

[code]

Running this produces the error above.

**Desktop (please complete the following i

[2022-07-19 13:08] a-r-j commented on #196
Hey @avivko thanks for the bug report. Are you running this in a notebook? I could reproduce your error in a JupyterLab notebook. However, running the below as a script worked for me:

[code]

I'm not an expert on multiprocessing but I think protection with `if __name__ == "__main__":` is often important. Perhaps someone more experienced could chime in on a possible resolution for notebook-based e

[2022-07-20 14:10] avivko commented on #196
@a-r-j good to know that you were able to run it outside of a notebook env! Seems to work on my machine like that too. However, I am working on a GPU server with >700G RAM and setting `--NotebookApp.max_buffer_size=100000000000`  didn't seem to help.

[2022-07-20 14:21] a-r-j commented on #196
I think this is a jupyter/ipython problem @avivko.

I tried adding the code as a separate module:

[code]

and then in a notebook running:

[code]

which also worked.

I think [this discussion](https://stackoverflow.com/questions/23641475/multiprocessing-working-in-python-but-not-in-ipython/23641560#23641560) explains the issue.

[2022-07-20 14:21] #196 closed

[2022-07-22 07:41] cimranm commented on #195
Sure, I've already built something like this for my own use case so would be happy to figure out an elegant way to make it generalisable and add it to the graphein CLI.  Will let you know if I'm stuck!

[2022-07-26 19:56] EyalRozenberg1 opened #198 "deprotonate pdb structure"
On Deprotonation process on the PDB file, I see that you choose to deprotonate the file according to 'atom_name' field rather than element_symbol field.

Is there a reason why not to deprotonate according to element_symbol?
Your approach lives some H atoms in the PDB file. I could not find any explanation why they are more important than those that were deprotonated.
Thanks

[2022-07-26 20:10] EyalRozenberg1 opened #199 "Check atoms are in the same chain always False"
**Describe the bug**
While you calculate covalent edges based on atomic distances, you check whether two atoms are in the same chain or not. The condition you use there is wrong, and will always return False.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to :

2. The `not (chain_1 and chain_2)` condition is always False.

**To Fix**
Replace to `not (chain_1 == chain_2)` for the expecte

[2022-07-26 20:23] EyalRozenberg1 opened #200 "Missing Residue in resi_atoms.py"
**Describe the bug**
MSE residue is missing in `RESI_NAMES`, `RESI_THREE_TO_1` at `graphein/protein/resi_atoms.py`

**To Reproduce**
Steps to reproduce the behavior:

1. Go to  > https://github.com/a-r-j/graphein/blob/553fd2615e69fcad74c6c2659b795faf6d1c798b/graphein/protein/resi_atoms.py
2. see

3. Both are missing [MSE residue](https://www.ebi.ac.uk/pdbe-srv/pdbechem/chemicalCompound/show/MSE)

[2022-08-01 23:54] a-r-j commented on #200
Thanks for the report, Eyal! Should be fixed in `1.5.1` :)

[2022-08-01 23:54] #200 closed

[2022-08-01 23:54] a-r-j commented on #199
Thanks for the report, Eyal! Should be fixed in `1.5.1` :)

[2022-08-01 23:54] #199 closed

[2022-08-01 23:54] a-r-j commented on #198
Thanks for the report, Eyal! Should be fixed in `1.5.1` :)

[2022-08-01 23:54] #198 closed

[2022-08-19 14:50] Vincentx15 opened #205 "Buggy graph encoding"
Hi folks, thanks for this package !

I'm experiencing bugs when creating graphs from pdb. First of all, if no node_metadata_functions are given (comment below), it defaults to using meiler embeddings which use a file that cannot be found in : graphein/protein/features/nodes/meiler_embeddings.csv. Second of all, some nodes are empty, which raises errors when trying to add edges.

I enclose a small

[2022-08-25 10:42] a-r-j commented on #205
Hi @Vincentx15 thanks for the bug report, I’ll check it out this weekend.

[2022-09-05 15:21] Vincentx15 commented on #205
Hello guys, do you have any updates on this ? Or maybe an idea about how long this issue would take to be solved ?

Thanks a lot for your work !

[2022-09-05 21:46] a-r-j commented on #205
Hey @Vincentx15 - apologies. It’s a super busy time for me. This is very much on my to do list. I will try to get at it later this week if not early next. Thanks for your patience.

[2022-09-06 08:54] Vincentx15 commented on #205
Ok no problem, I understand ! Thanks a lot for the support :)

[2022-09-08 12:43] 1511878618 commented on #205
It looks like the `meiler_embeddings.csv` should have been removed from the package in some recent update, and the code still loads it from the original location.
 I found the file in the repository` a-r-j/graphein/master/graphein/protein/features/nodes/meiler_embeddings.csv`. I downloaded it and put it in my own path in the package's directory:`Anaconda/envs/pyg/lib/ python3.9/site-packages/graph

[2022-09-08 13:05] 1511878618 commented on #205
ok, i find how to modif this embedding func.

[code]
by setting `node_metadata_functions` value as embedding function.

[2022-09-08 13:11] a-r-j commented on #205
Thanks @1511878618 that's super helpful. Looks like the embedding file wasn't packaged in the tarball on PyPi. I'll try to reup with the missing file.

[2022-09-08 14:14] 1511878618 commented on #205
Ok, and i see some comments on the parameters of function like below
![image](https://user-images.githubusercontent.com/49584439/189144202-5c8d2fe0-07bf-4caa-9412-5b8aaa40a33d.png)
And it seems your example code on doc about this function is not work anymore, I'm wondering whether the older version of [graphein](https://github.com/a-r-j/graphein) is stable? and which version could be more stable..

[2022-09-08 14:33] 1511878618 opened #207 "doc need to be updated"
i see some comments on the parameters of function like below
![image](https://user-images.githubusercontent.com/49584439/189144202-5c8d2fe0-07bf-4caa-9412-5b8aaa40a33d.png)
And it seems your example code on doc about this function is not work anymore, I'm wondering whether the older version of [graphein](https://github.com/a-r-j/graphein) is stable? and which version could be more stable........hm

[2022-09-14 12:51] a-r-j commented on #205
@Vincentx15 I figured out the cause of the problem.

The `add_disulfide_interactions` function isn't checking for node membership in the graph. Your protein seems to contain several inter-chain disulfide interactions which are being found but the B chain CYS residues are being added to the graph. This causes mismatch in shape with the distance matrix and adjacency matrix downstream.

You can see t

[2022-09-14 12:58] a-r-j commented on #205
And until I get around to the PR, here's a fixed disulfide function:

[code]

[2022-09-14 15:45] Vincentx15 commented on #205
Hey guys, thanks a lot for the fix. Splitting in chains solved it for me !

Best,
Vincent

[2022-09-16 11:43] a-r-j opened #210 "Using both local and downloaded PDBs in ML DataLoaders"
On #208 @1511878618 mentioned he'd be interested in handling this.

[2022-09-19 16:44] a-r-j commented on #205
This should be fully resolved in 1.5.2 (`pip install graphein==1.5.2`). Closing the issue - let me know if you run into any trouble :)

[2022-09-19 16:44] #205 closed

[2022-09-26 14:17] alexanderbonnet opened #216 "protein_df_processing_functions arg to ProteinGraphConfig does not process pdb dataframe"
**Describe the bug**
Currently, passing a `List` of `protein_df_processing_functions` to the `ProteinGraphConfig` does not have any effect when building the protein graph.

**To Reproduce**

[code]

**Expected behavior**
The function should pre-process the `pandas` dataframe before building the protein graph.

**Desktop (please complete the following information):**

- OS: ubuntu 18.04
- Python Ve

[2022-09-26 14:25] a-r-j commented on #216
Nice catch! Thanks for the report @alexanderbonnet!

I think the API has drifted a little. Ideally we should separate the df_processing_funcs into `atom_df_processing_funcs` and `hetatom_df_processing_funcs` as the downstream function has entrypoints for both: https://github.com/a-r-j/graphein/blob/28ae687af50cb69f423868c4f49dce968eacea5f/graphein/protein/graphs.py#L238

A quick scan of the logic:

[2022-10-11 06:55] a-r-j commented on #177
Hiya,

I’m away at the moment but I’ll check this out for you in next few days.

In the meantime could you true using filter_dataframe=True and maybe update_coords=True too?

Sent from mobile

[2022-10-18 16:20] manonreau opened #217 "Networkx to pyg conversion loses track or edge features"
**Describe the bug**
The conversion from a network to a pytorch geometric object is corrupted:
- The edge features is given as a list of string instead of a list of lists:
- When we have edges associated to different features/kind (ex kind= {‘aromatic’,’distance_threshold’}), we obtain graphs with more edge features than edges and we cannot associate any edge to its features anymore

ex:
`Data(edg

[2022-10-18 16:37] manonreau opened #219 "NaN coordinates when granularity: centroids and on small residue graphs"
**Describe the bug**
Some graphs have NaN coordinates.
This has been particularly observed for graphs missing aromatic residues WHEN aromatic interactions are listed in the `edge_construction_functions`, and when `"granularity": "centroids" `

Different reasons have been identified:
- some edges distance and angles are computed on empty dataframes
- The centroid is computed as the mean coordinates

[2022-10-23 17:18] #219 closed

[2022-10-30 07:28] kamurani opened #224 "`ProteinGraphDataset` for pairs of proteins?"
I was wondering if there's an elegant (easy) way to use the inbuilt `ProteinGraphDataset` class for making a PyTorch dataloader that can supply proteins in *pairs*, with an associated label.

Many use cases of GNNs involve predicting some kind of interaction or behaviour that involves 2 or more proteins (e.g. interaction or binding affinity: binary classification label).  At the moment I can only

[2022-10-30 13:22] a-r-j commented on #224
Hey @kamurani great idea!

This would be a great feature - is this something you'd like to work on?

If you're just looking to get up and running I threw together this (untested) solution if you're happy to take care of the processing to `Data` and pairing yourself.

[code]

[2022-10-31 02:20] kamurani opened #225 "AlphaFold download function fails if nonexistent Uniprot ID entry / 404 error"
When loading in data automatically (e.g. using `graphein.ml.ProteinGraphDataset`), if a particular uniprot ID is given that doesn't have an AlphaFold entry (e.g. `"A9UF07", "P78527"`), an exception is thrown by `wget`.  This should be captured and used to return `None` or similar as the filepath; and the `DataSet` should exclude this from the data that will be then loaded as the downstream graphs

[2022-10-31 02:25] kamurani commented on #224
Legend, thank you! I would be happy to implement this for graphein in a similar way as an extension to the other `DataSet` classes.  My use case also involves a particular node of interest (particular amino acid residue in the protein) being specified for one or both of the graphs, which might be useful for other people too.

For example, a single `Data` will be `protein1` graph, `centre_node` str

[2022-10-31 14:15] a-r-j commented on #224
I see. It's probably best to set it up to accept arbitrary additional data (like `centre_node`) instead of hardcoding a specific use case. Sounds like an interesting application!

Let me know if you want any help on the PR :)

[2022-11-02 01:04] #225 closed

[2022-11-02 20:27] a-r-j opened #231 "Support for Python 3.11"
Currently blocked by [`rdkit-pypi`](https://github.com/kuelumbus/rdkit-pypi/issues/55), which is blocked by [`boost`](https://github.com/boostorg/python/pull/385).

Progress tracked in #230

[2022-11-21 19:59] skr3178 opened #235 "is there a docker image on the hub"
is there a docker image on the hub?
On doing a search it seems there isn't on existing.

There seems to be multiple docker configuration with different dates of last update.
How to use docker build for a CPU without GPU support (which config to be used)?

[2022-11-21 20:01] a-r-j commented on #235
Hi @skr3178

We're not on dockerhub AFAIK.

Have you tried the instructions here: https://graphein.ai/getting_started/installation.html#docker-install

Let me know how you get one :)

[2022-11-22 15:01] universvm opened #236 "dlopen Errors on Documentation for Dataloaders"
**Describe the bug**
https://graphein.ai/notebooks/dataloader_tutorial.html

OSError: dlopen(/Users/arianjamasb/opt/anaconda3/envs/graphein-wip/lib/python3.8/site-packages/torch_sparse/_convert_cpu.so, 0x0006): Symbol not found: __ZN2at4_ops19empty_memory_format4callEN3c108ArrayRefIxEENS2_8optionalINS2_10ScalarTypeEEENS5_INS2_6LayoutEEENS5_INS2_6DeviceEEENS5_IbEENS5_INS2_12MemoryFormatEEE
  Refere

[2022-11-22 15:05] a-r-j commented on #236
Thanks for pointing this out. This comes from compiling the docs on a machine without GPU. Will be resolved as part of #207

[2022-11-22 15:05] #236 closed

[2022-11-22 18:38] davidfstein opened #237 "add_distance_threshold does not return a graph"
**Describe the bug**
add_distance_threshold claims to return a graph with distance edges added. However, the function appears to add edges directly to the passed graph and returns nothing.

**To Reproduce**
Steps to reproduce the behavior:
G = add_distance_threshold(G, 2, 5)
\# G is now None

**Expected behavior**
add_distance_threshold should return a graph with the requisite edges added or the d

[2022-11-22 18:45] a-r-j commented on #237
Hi @davidfstein , thanks for raising this! The function is supposed to be used in place e.g.

[code]

I can appreciate how this is confusing from the documentation. Wrt returning the graph, that does seem like it would be smart. I'd need to look at whether or not this would break things downstream. I suppose an `inplace` argument would be a sensible addition.

[2022-11-22 18:47] davidfstein commented on #237
Got it! In the doc string for this function it says ":return: Graph with distance-based edges added" which I think makes it seem like a graph will be returned. Maybe removing that or changing the language would help clear it up.

Thanks for the great package!

[2022-11-22 18:47] #237 closed

[2022-11-22 18:49] a-r-j commented on #237
Linking to #207

[2022-11-23 04:23] skr3178 commented on #235
sudo docker compose -f docker-compose.cpu.yml up -d --build

[2022-11-23 11:07] a-r-j commented on #235
Did it work for you? Can I close the issue?

[2022-11-23 15:28] davidfstein opened #238 "Quiet mode for loading protein models"
**Is your feature request related to a problem? Please describe.**
My use case involves loading many proteins. Unfortunately, the progress meters displayed by graphein don't interact nicely with the messages or progress trackers I might choose to include when loading these proteins.

**Describe the solution you'd like**
Add an optional quiet mode to construct_graph (e.g. verbose=0)

**Describe alt

[2022-11-23 15:48] skr3178 commented on #235
https://github.com/docker/docs/issues/16210
not able to open the container port

[2022-11-23 16:04] a-r-j commented on #235
@rg314 Maybe you've got some insight?

[2022-11-23 16:05] a-r-j commented on #238
Go ahead with the PR, I think this makes sense. Thanks for picking it up!

[2022-11-23 17:07] skr3178 commented on #235
This command created an image after running 26 odd commands. This was successfull.
The image created is graphein-cpu
![image](https://user-images.githubusercontent.com/79299617/203607150-3fa06b9d-40ac-426d-a133-99b45f0ed9db.png)

[2022-11-23 17:27] rg314 commented on #235
Run docker-compose logs

Sent from Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: skr3178 ***@***.***>
Sent: Wednesday, November 23, 2022 6:07:25 PM
To: a-r-j/graphein ***@***.***>
Cc: Ryan Greenhalgh ***@***.***>; Mention ***@***.***>
Subject: Re: [a-r-j/graphein] is there a docker image on the hub (Issue #235)

sudo docker compose -f docker-compose.cpu.yml up -d --

[2022-11-23 18:29] skr3178 commented on #235
[code]

[2022-11-23 18:30] skr3178 commented on #235
[code]

[2022-11-23 18:34] rg314 commented on #235
Sorry this wasn't clear you might need to put the service name as well I.e

'docker-compose logs graphein-gpu'

[2022-11-24 16:45] rg314 commented on #235
Are you on the master branch? I just tested and it worked for me

[2022-11-24 21:12] skr3178 commented on #235
Can you post the code lines to reproduce the same?

[2022-11-25 11:25] rg314 commented on #235
[code]

[2022-11-27 01:57] skr3178 commented on #235
Host machine
[code]

Inside the Container (Bash shell):
root: `jupyter notebook --ip 0.0.0.0 --no-browser --allow-root`
Host machine access this url : localhost:8888/tree‌

[reference](https://stackoverflow.com/a/48986548/12156998)

Thank you
@a-r-j @rg314 for your help and this tool

[2022-11-27 01:57] #235 closed

[2022-11-28 12:20] universvm opened #239 "Add DSSP as node_metadata_functions returns error"
**Describe the bug**
I'm unable to add dssp features to atoms

**To Reproduce**
Simply using some parameters like these:
[code]

Which also appears to be the right way at least from: https://graphein.ai/notebooks/pscdb_baselines.html?highlight=add_dssp_feature#Transformation-from-Raw-Structure-to-ML-ready-Datasets-Construction-with-Graphein

My current workaround is to build the graph and then use

[2022-11-28 15:37] universvm commented on #217
Did you manage to solve the issue? I see that your pr was merged though I still have the same problems

[2022-11-30 18:05] universvm opened #241 "Structure with 1 (or odd number) of Cysteine breaks add_salt_bridges"
**Describe the bug**
Trying to convert a structure with 1 or odd Cysteine numbers causes graphein to return ValueErrors. I

**To Reproduce**
Insert a pdb with 1 cysteine through `construct_graphs` with `add_salt_bridges`.

[code]

**Expected behavior**
It would be clearer if there was a check on the number of cysteine available rather than a generic valueerror

**Desktop (please complete the follo

[2022-11-30 18:11] universvm commented on #241
Same thing happens with` add_aromatic_interactions`